[defaults]
# Use centralized repo inventories from this project directory.
inventory = ../inventories/dev/inventory.ini,../inventories/aliases.ini

host_key_checking = True
stdout_callback = default
callbacks_enabled = profile_tasks
timeout = 36000
local_tmp = /tmp/ansible-${USER}
remote_tmp = /tmp
