-- tq_app_bootstrap_full.sql.j2
-- Full bootstrap for fresh environments with all application users and privileges

prompt Applying full SQL bootstrap for {{ oracle_app_database_name }} in {{ oracle_app_pdb_name }} (CDB {{ oracle_app_cdb_sid }})

-- 1. Ensure core tablespaces exist
DECLARE
  l_exists NUMBER;
BEGIN
  FOR ts IN (
    SELECT 'DBADATA' ts_name, '/u02/oradata/{{ oracle_app_database_name }}/dba01.dbf' file_name, '100M' size_clause FROM dual
    UNION ALL SELECT 'FMSDATA', '/u02/oradata/{{ oracle_app_database_name }}/fms01.dbf', '5G' FROM dual
    UNION ALL SELECT 'CRMDATA', '/u02/oradata/{{ oracle_app_database_name }}/crm01.dbf', '400M' FROM dual
    UNION ALL SELECT 'GISDATA', '/u02/oradata/{{ oracle_app_database_name }}/gis01.dbf', '2G' FROM dual
    UNION ALL SELECT 'LMSDATA', '/u02/oradata/{{ oracle_app_database_name }}/lms01.dbf', '3G' FROM dual
    UNION ALL SELECT 'MEDDATA', '/u02/oradata/{{ oracle_app_database_name }}/med01.dbf', '100M' FROM dual
    UNION ALL SELECT 'HRMSDATA', '/u02/oradata/{{ oracle_app_database_name }}/hrms01.dbf', '300M' FROM dual
  ) LOOP
    SELECT COUNT(*) INTO l_exists
    FROM dba_tablespaces
    WHERE tablespace_name = ts.ts_name;

    IF l_exists = 0 THEN
      EXECUTE IMMEDIATE
        'CREATE TABLESPACE ' || ts.ts_name ||
        ' DATAFILE ''' || ts.file_name || '''' ||
        ' SIZE ' || ts.size_clause ||
        ' AUTOEXTEND ON NEXT 1M MAXSIZE UNLIMITED' ||
        ' LOGGING ONLINE EXTENT MANAGEMENT LOCAL AUTOALLOCATE' ||
        ' BLOCKSIZE 8K SEGMENT SPACE MANAGEMENT MANUAL FLASHBACK ON';
    END IF;
  END LOOP;
END;
/

-- 2. Create Users
DECLARE
  PROCEDURE ensure_user(p_username VARCHAR2, p_ts VARCHAR2, p_identified_by VARCHAR2) IS
    l_count NUMBER;
  BEGIN
    SELECT count(*) INTO l_count FROM dba_users WHERE username = p_username;
    IF l_count = 0 THEN
      EXECUTE IMMEDIATE 'CREATE USER ' || p_username || ' IDENTIFIED BY "' || p_identified_by || '"' ||
                        ' DEFAULT TABLESPACE ' || p_ts || ' TEMPORARY TABLESPACE TEMP ACCOUNT UNLOCK';
    ELSE
      EXECUTE IMMEDIATE 'ALTER USER ' || p_username || ' IDENTIFIED BY "' || p_identified_by || '" ACCOUNT UNLOCK';
    END IF;
  END;
BEGIN
  ensure_user('TQ_CRM', 'CRMDATA', '{{ oracle_app_user_passwords.TQ_CRM }}');
  ensure_user('TQ_DBA', 'DBADATA', '{{ oracle_app_user_passwords.TQ_DBA }}');
  ensure_user('TQ_FMS', 'FMSDATA', '{{ oracle_app_user_passwords.TQ_FMS }}');
  ensure_user('TQ_GIS', 'GISDATA', '{{ oracle_app_user_passwords.TQ_GIS }}');
  ensure_user('TQ_HRMS', 'HRMSDATA', '{{ oracle_app_user_passwords.TQ_HRMS }}');
  ensure_user('TQ_LMS', 'LMSDATA', '{{ oracle_app_user_passwords.TQ_LMS }}');
  ensure_user('TQ_MED', 'MEDDATA', '{{ oracle_app_user_passwords.TQ_MED }}');
END;
/

-- 3. Grants for TQ_CRM
GRANT CONNECT, DBA, RESOURCE TO TQ_CRM;
ALTER USER TQ_CRM DEFAULT ROLE ALL;
GRANT ADMINISTER ANY SQL TUNING SET TO TQ_CRM;
GRANT ADMINISTER DATABASE TRIGGER TO TQ_CRM;
BEGIN
  SYS.DBMS_RESOURCE_MANAGER_PRIVS.GRANT_SYSTEM_PRIVILEGE
    (GRANTEE_NAME   => 'TQ_CRM',
     PRIVILEGE_NAME => 'ADMINISTER_RESOURCE_MANAGER',
     ADMIN_OPTION   => FALSE);
END;
/
GRANT ADMINISTER SQL MANAGEMENT OBJECT TO TQ_CRM;
GRANT ADMINISTER SQL TUNING SET TO TQ_CRM;
GRANT ADVISOR TO TQ_CRM;
GRANT ALTER ANY ANALYTIC VIEW TO TQ_CRM;
GRANT ALTER ANY ASSEMBLY TO TQ_CRM;
GRANT ALTER ANY ATTRIBUTE DIMENSION TO TQ_CRM;
GRANT ALTER ANY CLUSTER TO TQ_CRM;
GRANT ALTER ANY CUBE TO TQ_CRM;
GRANT ALTER ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT ALTER ANY CUBE DIMENSION TO TQ_CRM;
GRANT ALTER ANY DIMENSION TO TQ_CRM;
GRANT ALTER ANY EDITION TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.ALTER_ANY_EVALUATION_CONTEXT,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT ALTER ANY HIERARCHY TO TQ_CRM;
GRANT ALTER ANY INDEX TO TQ_CRM;
GRANT ALTER ANY INDEXTYPE TO TQ_CRM;
GRANT ALTER ANY LIBRARY TO TQ_CRM;
GRANT ALTER ANY MATERIALIZED VIEW TO TQ_CRM;
GRANT ALTER ANY MEASURE FOLDER TO TQ_CRM;
GRANT ALTER ANY MINING MODEL TO TQ_CRM;
GRANT ALTER ANY OPERATOR TO TQ_CRM;
GRANT ALTER ANY OUTLINE TO TQ_CRM;
GRANT ALTER ANY PROCEDURE TO TQ_CRM;
GRANT ALTER ANY ROLE TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.ALTER_ANY_RULE,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.ALTER_ANY_RULE_SET,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT ALTER ANY SEQUENCE TO TQ_CRM;
GRANT ALTER ANY SQL PROFILE TO TQ_CRM;
GRANT ALTER ANY SQL TRANSLATION PROFILE TO TQ_CRM;
GRANT ALTER ANY TABLE TO TQ_CRM;
GRANT ALTER ANY TRIGGER TO TQ_CRM;
GRANT ALTER ANY TYPE TO TQ_CRM;
GRANT ALTER DATABASE TO TQ_CRM;
GRANT ALTER LOCKDOWN PROFILE TO TQ_CRM;
GRANT ALTER PROFILE TO TQ_CRM;
GRANT ALTER RESOURCE COST TO TQ_CRM;
GRANT ALTER ROLLBACK SEGMENT TO TQ_CRM;
GRANT ALTER SESSION TO TQ_CRM;
GRANT ALTER SYSTEM TO TQ_CRM;
GRANT ALTER TABLESPACE TO TQ_CRM;
GRANT ALTER USER TO TQ_CRM;
GRANT ANALYZE ANY TO TQ_CRM;
GRANT ANALYZE ANY DICTIONARY TO TQ_CRM;
GRANT AUDIT ANY TO TQ_CRM;
GRANT AUDIT SYSTEM TO TQ_CRM;
GRANT BACKUP ANY TABLE TO TQ_CRM;
GRANT BECOME USER TO TQ_CRM;
GRANT CHANGE NOTIFICATION TO TQ_CRM;
GRANT COMMENT ANY MINING MODEL TO TQ_CRM;
GRANT COMMENT ANY TABLE TO TQ_CRM;
GRANT CREATE ANALYTIC VIEW TO TQ_CRM;
GRANT CREATE ANY ANALYTIC VIEW TO TQ_CRM;
GRANT CREATE ANY ASSEMBLY TO TQ_CRM;
GRANT CREATE ANY ATTRIBUTE DIMENSION TO TQ_CRM;
GRANT CREATE ANY CLUSTER TO TQ_CRM;
GRANT CREATE ANY CONTEXT TO TQ_CRM;
GRANT CREATE ANY CREDENTIAL TO TQ_CRM;
GRANT CREATE ANY CUBE TO TQ_CRM;
GRANT CREATE ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT CREATE ANY CUBE DIMENSION TO TQ_CRM;
GRANT CREATE ANY DIMENSION TO TQ_CRM;
GRANT CREATE ANY DIRECTORY TO TQ_CRM;
GRANT CREATE ANY EDITION TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_ANY_EVALUATION_CONTEXT,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT CREATE ANY HIERARCHY TO TQ_CRM;
GRANT CREATE ANY INDEX TO TQ_CRM;
GRANT CREATE ANY INDEXTYPE TO TQ_CRM;
GRANT CREATE ANY JOB TO TQ_CRM;
GRANT CREATE ANY LIBRARY TO TQ_CRM;
GRANT CREATE ANY MATERIALIZED VIEW TO TQ_CRM;
GRANT CREATE ANY MEASURE FOLDER TO TQ_CRM;
GRANT CREATE ANY MINING MODEL TO TQ_CRM;
GRANT CREATE ANY OPERATOR TO TQ_CRM;
GRANT CREATE ANY OUTLINE TO TQ_CRM;
GRANT CREATE ANY PROCEDURE TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_ANY_RULE,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_ANY_RULE_SET,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT CREATE ANY SEQUENCE TO TQ_CRM;
GRANT CREATE ANY SQL PROFILE TO TQ_CRM;
GRANT CREATE ANY SQL TRANSLATION PROFILE TO TQ_CRM;
GRANT CREATE ANY SYNONYM TO TQ_CRM;
GRANT CREATE ANY TABLE TO TQ_CRM;
GRANT CREATE ANY TRIGGER TO TQ_CRM;
GRANT CREATE ANY TYPE TO TQ_CRM;
GRANT CREATE ANY VIEW TO TQ_CRM;
GRANT CREATE ASSEMBLY TO TQ_CRM;
GRANT CREATE ATTRIBUTE DIMENSION TO TQ_CRM;
GRANT CREATE CLUSTER TO TQ_CRM;
GRANT CREATE CREDENTIAL TO TQ_CRM;
GRANT CREATE CUBE TO TQ_CRM;
GRANT CREATE CUBE BUILD PROCESS TO TQ_CRM;
GRANT CREATE CUBE DIMENSION TO TQ_CRM;
GRANT CREATE DATABASE LINK TO TQ_CRM;
GRANT CREATE DIMENSION TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_EVALUATION_CONTEXT_OBJ,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT CREATE EXTERNAL JOB TO TQ_CRM;
GRANT CREATE HIERARCHY TO TQ_CRM;
GRANT CREATE INDEXTYPE TO TQ_CRM;
GRANT CREATE JOB TO TQ_CRM;
GRANT CREATE LIBRARY TO TQ_CRM;
GRANT CREATE LOCKDOWN PROFILE TO TQ_CRM;
GRANT CREATE MATERIALIZED VIEW TO TQ_CRM;
GRANT CREATE MEASURE FOLDER TO TQ_CRM;
GRANT CREATE MINING MODEL TO TQ_CRM;
GRANT CREATE OPERATOR TO TQ_CRM;
GRANT CREATE PLUGGABLE DATABASE TO TQ_CRM;
GRANT CREATE PROCEDURE TO TQ_CRM;
GRANT CREATE PROFILE TO TQ_CRM;
GRANT CREATE PUBLIC DATABASE LINK TO TQ_CRM;
GRANT CREATE PUBLIC SYNONYM TO TQ_CRM;
GRANT CREATE ROLE TO TQ_CRM;
GRANT CREATE ROLLBACK SEGMENT TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_RULE_OBJ,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_RULE_SET_OBJ,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT CREATE SEQUENCE TO TQ_CRM;
GRANT CREATE SESSION TO TQ_CRM;
GRANT CREATE SQL TRANSLATION PROFILE TO TQ_CRM;
GRANT CREATE SYNONYM TO TQ_CRM;
GRANT CREATE TABLE TO TQ_CRM;
GRANT CREATE TABLESPACE TO TQ_CRM;
GRANT CREATE TRIGGER TO TQ_CRM;
GRANT CREATE TYPE TO TQ_CRM;
GRANT CREATE USER TO TQ_CRM;
GRANT CREATE VIEW TO TQ_CRM;
GRANT DEBUG ANY PROCEDURE TO TQ_CRM;
GRANT DEBUG CONNECT SESSION TO TQ_CRM;
GRANT DELETE ANY CUBE DIMENSION TO TQ_CRM;
GRANT DELETE ANY MEASURE FOLDER TO TQ_CRM;
GRANT DELETE ANY TABLE TO TQ_CRM;
BEGIN
  SYS.DBMS_AQADM.GRANT_SYSTEM_PRIVILEGE (
    PRIVILEGE    => 'DEQUEUE_ANY',
    GRANTEE      => 'TQ_CRM',
    ADMIN_OPTION => FALSE);
END;
/
GRANT DROP ANY ANALYTIC VIEW TO TQ_CRM;
GRANT DROP ANY ASSEMBLY TO TQ_CRM;
GRANT DROP ANY ATTRIBUTE DIMENSION TO TQ_CRM;
GRANT DROP ANY CLUSTER TO TQ_CRM;
GRANT DROP ANY CONTEXT TO TQ_CRM;
GRANT DROP ANY CUBE TO TQ_CRM;
GRANT DROP ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT DROP ANY CUBE DIMENSION TO TQ_CRM;
GRANT DROP ANY DIMENSION TO TQ_CRM;
GRANT DROP ANY DIRECTORY TO TQ_CRM;
GRANT DROP ANY EDITION TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.DROP_ANY_EVALUATION_CONTEXT,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT DROP ANY HIERARCHY TO TQ_CRM;
GRANT DROP ANY INDEX TO TQ_CRM;
GRANT DROP ANY INDEXTYPE TO TQ_CRM;
GRANT DROP ANY LIBRARY TO TQ_CRM;
GRANT DROP ANY MATERIALIZED VIEW TO TQ_CRM;
GRANT DROP ANY MEASURE FOLDER TO TQ_CRM;
GRANT DROP ANY MINING MODEL TO TQ_CRM;
GRANT DROP ANY OPERATOR TO TQ_CRM;
GRANT DROP ANY OUTLINE TO TQ_CRM;
GRANT DROP ANY PROCEDURE TO TQ_CRM;
GRANT DROP ANY ROLE TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.DROP_ANY_RULE,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.DROP_ANY_RULE_SET,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT DROP ANY SEQUENCE TO TQ_CRM;
GRANT DROP ANY SQL PROFILE TO TQ_CRM;
GRANT DROP ANY SQL TRANSLATION PROFILE TO TQ_CRM;
GRANT DROP ANY SYNONYM TO TQ_CRM;
GRANT DROP ANY TABLE TO TQ_CRM;
GRANT DROP ANY TRIGGER TO TQ_CRM;
GRANT DROP ANY TYPE TO TQ_CRM;
GRANT DROP ANY VIEW TO TQ_CRM;
GRANT DROP LOCKDOWN PROFILE TO TQ_CRM;
GRANT DROP PROFILE TO TQ_CRM;
GRANT DROP PUBLIC DATABASE LINK TO TQ_CRM;
GRANT DROP PUBLIC SYNONYM TO TQ_CRM;
GRANT DROP ROLLBACK SEGMENT TO TQ_CRM;
GRANT DROP TABLESPACE TO TQ_CRM;
GRANT DROP USER TO TQ_CRM;
GRANT EM EXPRESS CONNECT TO TQ_CRM;
BEGIN
  SYS.DBMS_AQADM.GRANT_SYSTEM_PRIVILEGE (
    PRIVILEGE    => 'ENQUEUE_ANY',
    GRANTEE      => 'TQ_CRM',
    ADMIN_OPTION => FALSE);
END;
/
GRANT EXECUTE ANY ASSEMBLY TO TQ_CRM;
GRANT EXECUTE ANY CLASS TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.EXECUTE_ANY_EVALUATION_CONTEXT,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT EXECUTE ANY INDEXTYPE TO TQ_CRM;
GRANT EXECUTE ANY LIBRARY TO TQ_CRM;
GRANT EXECUTE ANY OPERATOR TO TQ_CRM;
GRANT EXECUTE ANY PROCEDURE TO TQ_CRM;
GRANT EXECUTE ANY PROGRAM TO TQ_CRM;
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.EXECUTE_ANY_RULE,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
BEGIN
  SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
    PRIVILEGE    => SYS.DBMS_RULE_ADM.EXECUTE_ANY_RULE_SET,
    GRANTEE      => 'TQ_CRM',
    GRANT_OPTION => FALSE);
END;
/
GRANT EXECUTE ANY TYPE TO TQ_CRM;
GRANT EXECUTE ASSEMBLY TO TQ_CRM;
GRANT EXEMPT ACCESS POLICY TO TQ_CRM;
GRANT EXEMPT IDENTITY POLICY TO TQ_CRM;
GRANT EXPORT FULL DATABASE TO TQ_CRM;
GRANT FLASHBACK ANY TABLE TO TQ_CRM;
GRANT FLASHBACK ARCHIVE ADMINISTER TO TQ_CRM;
GRANT FORCE ANY TRANSACTION TO TQ_CRM;
GRANT FORCE TRANSACTION TO TQ_CRM;
GRANT GLOBAL QUERY REWRITE TO TQ_CRM;
GRANT GRANT ANY OBJECT PRIVILEGE TO TQ_CRM;
GRANT GRANT ANY PRIVILEGE TO TQ_CRM;
GRANT GRANT ANY ROLE TO TQ_CRM;
GRANT IMPORT FULL DATABASE TO TQ_CRM;
GRANT INSERT ANY CUBE DIMENSION TO TQ_CRM;
GRANT INSERT ANY MEASURE FOLDER TO TQ_CRM;
GRANT INSERT ANY TABLE TO TQ_CRM;
GRANT LOCK ANY TABLE TO TQ_CRM;
GRANT LOGMINING TO TQ_CRM;
GRANT MANAGE ANY FILE GROUP TO TQ_CRM;
BEGIN
  SYS.DBMS_AQADM.GRANT_SYSTEM_PRIVILEGE (
    PRIVILEGE    => 'MANAGE_ANY',
    GRANTEE      => 'TQ_CRM',
    ADMIN_OPTION => FALSE);
END;
/
GRANT MANAGE FILE GROUP TO TQ_CRM;
GRANT MANAGE SCHEDULER TO TQ_CRM;
GRANT MANAGE TABLESPACE TO TQ_CRM;
GRANT MERGE ANY VIEW TO TQ_CRM;
GRANT ON COMMIT REFRESH TO TQ_CRM;
GRANT QUERY REWRITE TO TQ_CRM;
GRANT READ ANY FILE GROUP TO TQ_CRM;
GRANT READ ANY TABLE TO TQ_CRM;
GRANT REDEFINE ANY TABLE TO TQ_CRM;
GRANT RESTRICTED SESSION TO TQ_CRM;
GRANT RESUMABLE TO TQ_CRM;
GRANT SELECT ANY CUBE TO TQ_CRM;
GRANT SELECT ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT SELECT ANY CUBE DIMENSION TO TQ_CRM;
GRANT SELECT ANY DICTIONARY TO TQ_CRM;
GRANT SELECT ANY MEASURE FOLDER TO TQ_CRM;
GRANT SELECT ANY MINING MODEL TO TQ_CRM;
GRANT SELECT ANY SEQUENCE TO TQ_CRM;
GRANT SELECT ANY TABLE TO TQ_CRM;
GRANT SELECT ANY TRANSACTION TO TQ_CRM;
GRANT SET CONTAINER TO TQ_CRM;
GRANT UNDER ANY TABLE TO TQ_CRM;
GRANT UNDER ANY TYPE TO TQ_CRM;
GRANT UNDER ANY VIEW TO TQ_CRM;
GRANT UNLIMITED TABLESPACE TO TQ_CRM;
GRANT UPDATE ANY CUBE TO TQ_CRM;
GRANT UPDATE ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT UPDATE ANY CUBE DIMENSION TO TQ_CRM;
GRANT UPDATE ANY TABLE TO TQ_CRM;
GRANT USE ANY JOB RESOURCE TO TQ_CRM;
GRANT USE ANY SQL TRANSLATION PROFILE TO TQ_CRM;

ALTER USER TQ_CRM QUOTA UNLIMITED ON CRMDATA;
ALTER USER TQ_CRM QUOTA UNLIMITED ON FMSDATA;
ALTER USER TQ_CRM QUOTA UNLIMITED ON GISDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_CRM QUOTA UNLIMITED ON USERS';
  END IF;
END;
/

GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_CRM;

-- 4. Grants for TQ_DBA
GRANT CONNECT, DBA, RESOURCE TO TQ_DBA;
ALTER USER TQ_DBA DEFAULT ROLE ALL;
GRANT CREATE SESSION TO TQ_DBA;
GRANT UNLIMITED TABLESPACE TO TQ_DBA;
ALTER USER TQ_DBA QUOTA UNLIMITED ON CRMDATA;
ALTER USER TQ_DBA QUOTA UNLIMITED ON FMSDATA;
ALTER USER TQ_DBA QUOTA UNLIMITED ON GISDATA;
ALTER USER TQ_DBA QUOTA UNLIMITED ON LMSDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_DBA QUOTA UNLIMITED ON USERS';
  END IF;
END;
/

-- 5. Grants for TQ_FMS
GRANT CONNECT, DBA, RESOURCE, SCHEDULER_ADMIN TO TQ_FMS;
ALTER USER TQ_FMS DEFAULT ROLE ALL;
-- (System privileges abbreviated for brevity, following TQ_CRM pattern if needed)
GRANT CREATE SESSION, UNLIMITED TABLESPACE TO TQ_FMS;
ALTER USER TQ_FMS QUOTA UNLIMITED ON CRMDATA;
ALTER USER TQ_FMS QUOTA UNLIMITED ON FMSDATA;
ALTER USER TQ_FMS QUOTA UNLIMITED ON GISDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_FMS QUOTA UNLIMITED ON USERS';
  END IF;
END;
/
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_FMS;

-- 6. Grants for TQ_GIS
GRANT CONNECT, DBA, RESOURCE TO TQ_GIS;
ALTER USER TQ_GIS DEFAULT ROLE ALL;
GRANT CREATE SESSION, UNLIMITED TABLESPACE TO TQ_GIS;
ALTER USER TQ_GIS QUOTA UNLIMITED ON CRMDATA;
ALTER USER TQ_GIS QUOTA UNLIMITED ON FMSDATA;
ALTER USER TQ_GIS QUOTA UNLIMITED ON GISDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_GIS QUOTA UNLIMITED ON USERS';
  END IF;
END;
/
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_GIS;

-- 7. Grants for TQ_HRMS
GRANT CONNECT, DBA, RESOURCE TO TQ_HRMS;
ALTER USER TQ_HRMS DEFAULT ROLE CONNECT, RESOURCE;
GRANT CREATE SESSION, UNLIMITED TABLESPACE TO TQ_HRMS;
ALTER USER TQ_HRMS QUOTA UNLIMITED ON HRMSDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_HRMS QUOTA UNLIMITED ON USERS';
  END IF;
END;
/
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_HRMS;

-- 8. Grants for TQ_LMS
GRANT CONNECT, DBA, RESOURCE TO TQ_LMS;
ALTER USER TQ_LMS DEFAULT ROLE CONNECT, RESOURCE;
GRANT CREATE SESSION, UNLIMITED TABLESPACE TO TQ_LMS;
ALTER USER TQ_LMS QUOTA UNLIMITED ON LMSDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_LMS QUOTA UNLIMITED ON USERS';
  END IF;
END;
/
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_LMS;

-- 9. Grants for TQ_MED
GRANT CONNECT TO TQ_MED;
ALTER USER TQ_MED DEFAULT ROLE ALL;
GRANT CREATE SESSION TO TQ_MED;
ALTER USER TQ_MED QUOTA UNLIMITED ON MEDDATA;

prompt Full SQL bootstrap completed for {{ oracle_app_database_name }}
