[Unit]
Description=Keycloak Identity and Access Management
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=simple
User={{ keycloak_user }}
Group={{ keycloak_group }}
EnvironmentFile=/etc/keycloak/keycloak.env
Environment=KC_DB=postgres
Environment=KC_DB_URL=jdbc:postgresql://{{ keycloak_db_host }}:{{ keycloak_db_port }}/{{ keycloak_db_name }}
Environment=KC_DB_USERNAME={{ keycloak_db_user }}
ExecStart={{ keycloak_install_dir }}/bin/kc.sh start --optimized
SuccessExitStatus=143
Restart=on-failure
RestartSec=5s
LimitNOFILE=102642

[Install]
WantedBy=multi-user.target
