# {{ ansible_managed }}
{% if time_sync_is_server %}
{% for s in time_sync_public_servers %}
server {{ s }} iburst
{% endfor %}
allow {{ time_sync_allowed_subnet }}
local stratum 10
{% else %}
server {{ time_sync_server_host }} iburst
{% endif %}

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
logdir /var/log/chrony
include /etc/chrony.d/*.conf
