apiVersion: 1

providers:
  - name: IaC Homelab
    orgId: 1
    folder: IaC Homelab
    type: file
    disableDeletion: true
    allowUiUpdates: false
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards
