REPORT_PROMETHEUS_URL={{ observability_weekly_report_prometheus_url | to_json }}
REPORT_ENVIRONMENT={{ observability_weekly_report_environment | to_json }}
REPORT_TIMEZONE={{ observability_weekly_report_timezone | to_json }}
REPORT_TITLE={{ observability_weekly_report_title | to_json }}
REPORT_BRAND={{ observability_weekly_report_brand | to_json }}
REPORT_OUTPUT_DIR={{ observability_weekly_report_output_dir | to_json }}
REPORT_RETENTION_DAYS={{ observability_weekly_report_retention_days | string | to_json }}
REPORT_AVAILABILITY_WARNING={{ observability_weekly_report_availability_warning | string | to_json }}
REPORT_AVAILABILITY_CRITICAL={{ observability_weekly_report_availability_critical | string | to_json }}
REPORT_SCRAPE_INTERVAL_SECONDS={{ observability_prometheus_scrape_interval_seconds | string | to_json }}
REPORT_CHROME_BINARY={{ observability_weekly_report_chrome_binary | to_json }}
REPORT_EMAIL_ENABLED={{ (observability_weekly_report_email_enabled | bool) | ternary('true', 'false') | to_json }}
REPORT_SMTP_HOST={{ observability_weekly_report_smtp_host | to_json }}
REPORT_SMTP_PORT={{ observability_weekly_report_smtp_port | string | to_json }}
REPORT_SMTP_HELO={{ observability_smtp_helo | to_json }}
REPORT_SMTP_DISPLAY_NAME={{ observability_smtp_display_name | to_json }}
REPORT_SMTP_USERNAME={{ observability_smtp_auth_username | to_json }}
REPORT_SMTP_PASSWORD={{ observability_smtp_auth_password | to_json }}
REPORT_RECIPIENTS={{ observability_weekly_report_recipients | to_json }}
