[defaults]
vault_password_file = ../.vault_password
stdout_callback = default
callbacks_enabled = profile_tasks
# Use centralized repo inventories from this playbook directory.
inventory = ../../inventories/example/inventory.ini,../../inventories/aliases.ini
remote_tmp = /tmp
