-- tq_app_bootstrap.sql.j2
-- This script runs inside a target PDB selected by Ansible.
-- Variables available in this template:
--   oracle_app_database_name (example: FMSDEV)
--   oracle_app_pdb_name      (example: MUTUAL, GLICO)
--   oracle_app_cdb_sid       (example: CDB1)
--
-- Keep your full CREATE USER / GRANT / QUOTA statements in this file.
-- Tip:
--   Replace hardcoded datafile paths like /u02/oradata/{{ oracle_app_database_name }}/... with:
--   /u02/oradata/{{ oracle_app_database_name }}/...

prompt Applying custom SQL bootstrap for {{ oracle_app_database_name }} in {{ oracle_app_pdb_name }} (CDB {{ oracle_app_cdb_sid }})

CREATE TABLESPACE FMSDATA DATAFILE 
  '/u02/oradata/{{ oracle_app_database_name }}/fms01.dbf' SIZE 5G AUTOEXTEND ON NEXT 1M MAXSIZE UNLIMITED
LOGGING
ONLINE
EXTENT MANAGEMENT LOCAL AUTOALLOCATE
BLOCKSIZE 8K
SEGMENT SPACE MANAGEMENT MANUAL
FLASHBACK ON;
CREATE TABLESPACE CRMDATA DATAFILE 
  '/u02/oradata/{{ oracle_app_database_name }}/crm01.dbf' SIZE 400M AUTOEXTEND ON NEXT 1M MAXSIZE UNLIMITED
LOGGING
ONLINE
EXTENT MANAGEMENT LOCAL AUTOALLOCATE
BLOCKSIZE 8K
SEGMENT SPACE MANAGEMENT MANUAL
FLASHBACK ON;

CREATE TABLESPACE GISDATA DATAFILE 
  '/u02/oradata/{{ oracle_app_database_name }}/gis01.dbf' SIZE 2G AUTOEXTEND ON NEXT 1M MAXSIZE UNLIMITED
LOGGING
ONLINE
EXTENT MANAGEMENT LOCAL AUTOALLOCATE
BLOCKSIZE 8K
SEGMENT SPACE MANAGEMENT MANUAL
FLASHBACK ON;
 CREATE TABLESPACE LMSDATA DATAFILE 
  '/u02/oradata/{{ oracle_app_database_name }}/lms01.dbf' SIZE 3G AUTOEXTEND ON NEXT 1M MAXSIZE UNLIMITED
LOGGING
ONLINE
EXTENT MANAGEMENT LOCAL AUTOALLOCATE
BLOCKSIZE 8K
SEGMENT SPACE MANAGEMENT MANUAL
FLASHBACK ON;

CREATE TABLESPACE MEDDATA DATAFILE 
  '/u02/oradata/{{ oracle_app_database_name }}/med01.dbf' SIZE 100M AUTOEXTEND ON NEXT 1M MAXSIZE UNLIMITED
LOGGING
ONLINE
EXTENT MANAGEMENT LOCAL AUTOALLOCATE
BLOCKSIZE 8K
SEGMENT SPACE MANAGEMENT MANUAL
FLASHBACK ON;

CREATE TABLESPACE HRMSDATA DATAFILE 
  '/u02/oradata/{{ oracle_app_database_name }}/hrms01.dbf' SIZE 300M AUTOEXTEND ON NEXT 1M MAXSIZE UNLIMITED
LOGGING
ONLINE
EXTENT MANAGEMENT LOCAL AUTOALLOCATE
BLOCKSIZE 8K
SEGMENT SPACE MANAGEMENT MANUAL
FLASHBACK ON;


--- DROP USER TQ_CRM CASCADE;

CREATE USER TQ_CRM
  IDENTIFIED BY TQ_CRM
  HTTP DIGEST DISABLE
  DEFAULT TABLESPACE CRMDATA
  TEMPORARY TABLESPACE TEMP
  PROFILE DEFAULT
  ACCOUNT UNLOCK;

-- 3 Roles for TQ_CRM 
GRANT CONNECT TO TQ_CRM;
GRANT DBA TO TQ_CRM;
GRANT RESOURCE TO TQ_CRM;
ALTER USER TQ_CRM DEFAULT ROLE ALL;

-- 238 System Privileges for TQ_CRM 
GRANT ADMINISTER ANY SQL TUNING SET TO TQ_CRM;
GRANT ADMINISTER DATABASE TRIGGER TO TQ_CRM;
BEGIN
SYS.DBMS_RESOURCE_MANAGER_PRIVS.GRANT_SYSTEM_PRIVILEGE
  (GRANTEE_NAME   => 'TQ_CRM', 
   PRIVILEGE_NAME => 'ADMINISTER_RESOURCE_MANAGER',
   ADMIN_OPTION   => FALSE);
END;
/
GRANT ADMINISTER SQL MANAGEMENT OBJECT TO TQ_CRM;
GRANT ADMINISTER SQL TUNING SET TO TQ_CRM;
GRANT ADVISOR TO TQ_CRM;
GRANT ALTER ANY ANALYTIC VIEW TO TQ_CRM;
GRANT ALTER ANY ASSEMBLY TO TQ_CRM;
GRANT ALTER ANY ATTRIBUTE DIMENSION TO TQ_CRM;
GRANT ALTER ANY CLUSTER TO TQ_CRM;
GRANT ALTER ANY CUBE TO TQ_CRM;
GRANT ALTER ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT ALTER ANY CUBE DIMENSION TO TQ_CRM;
GRANT ALTER ANY DIMENSION TO TQ_CRM;
GRANT ALTER ANY EDITION TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.ALTER_ANY_EVALUATION_CONTEXT,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT ALTER ANY HIERARCHY TO TQ_CRM;
GRANT ALTER ANY INDEX TO TQ_CRM;
GRANT ALTER ANY INDEXTYPE TO TQ_CRM;
GRANT ALTER ANY LIBRARY TO TQ_CRM;
GRANT ALTER ANY MATERIALIZED VIEW TO TQ_CRM;
GRANT ALTER ANY MEASURE FOLDER TO TQ_CRM;
GRANT ALTER ANY MINING MODEL TO TQ_CRM;
GRANT ALTER ANY OPERATOR TO TQ_CRM;
GRANT ALTER ANY OUTLINE TO TQ_CRM;
GRANT ALTER ANY PROCEDURE TO TQ_CRM;
GRANT ALTER ANY ROLE TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.ALTER_ANY_RULE,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.ALTER_ANY_RULE_SET,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT ALTER ANY SEQUENCE TO TQ_CRM;
GRANT ALTER ANY SQL PROFILE TO TQ_CRM;
GRANT ALTER ANY SQL TRANSLATION PROFILE TO TQ_CRM;
GRANT ALTER ANY TABLE TO TQ_CRM;
GRANT ALTER ANY TRIGGER TO TQ_CRM;
GRANT ALTER ANY TYPE TO TQ_CRM;
GRANT ALTER DATABASE TO TQ_CRM;
GRANT ALTER LOCKDOWN PROFILE TO TQ_CRM;
GRANT ALTER PROFILE TO TQ_CRM;
GRANT ALTER RESOURCE COST TO TQ_CRM;
GRANT ALTER ROLLBACK SEGMENT TO TQ_CRM;
GRANT ALTER SESSION TO TQ_CRM;
GRANT ALTER SYSTEM TO TQ_CRM;
GRANT ALTER TABLESPACE TO TQ_CRM;
GRANT ALTER USER TO TQ_CRM;
GRANT ANALYZE ANY TO TQ_CRM;
GRANT ANALYZE ANY DICTIONARY TO TQ_CRM;
GRANT AUDIT ANY TO TQ_CRM;
GRANT AUDIT SYSTEM TO TQ_CRM;
GRANT BACKUP ANY TABLE TO TQ_CRM;
GRANT BECOME USER TO TQ_CRM;
GRANT CHANGE NOTIFICATION TO TQ_CRM;
GRANT COMMENT ANY MINING MODEL TO TQ_CRM;
GRANT COMMENT ANY TABLE TO TQ_CRM;
GRANT CREATE ANALYTIC VIEW TO TQ_CRM;
GRANT CREATE ANY ANALYTIC VIEW TO TQ_CRM;
GRANT CREATE ANY ASSEMBLY TO TQ_CRM;
GRANT CREATE ANY ATTRIBUTE DIMENSION TO TQ_CRM;
GRANT CREATE ANY CLUSTER TO TQ_CRM;
GRANT CREATE ANY CONTEXT TO TQ_CRM;
GRANT CREATE ANY CREDENTIAL TO TQ_CRM;
GRANT CREATE ANY CUBE TO TQ_CRM;
GRANT CREATE ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT CREATE ANY CUBE DIMENSION TO TQ_CRM;
GRANT CREATE ANY DIMENSION TO TQ_CRM;
GRANT CREATE ANY DIRECTORY TO TQ_CRM;
GRANT CREATE ANY EDITION TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_ANY_EVALUATION_CONTEXT,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT CREATE ANY HIERARCHY TO TQ_CRM;
GRANT CREATE ANY INDEX TO TQ_CRM;
GRANT CREATE ANY INDEXTYPE TO TQ_CRM;
GRANT CREATE ANY JOB TO TQ_CRM;
GRANT CREATE ANY LIBRARY TO TQ_CRM;
GRANT CREATE ANY MATERIALIZED VIEW TO TQ_CRM;
GRANT CREATE ANY MEASURE FOLDER TO TQ_CRM;
GRANT CREATE ANY MINING MODEL TO TQ_CRM;
GRANT CREATE ANY OPERATOR TO TQ_CRM;
GRANT CREATE ANY OUTLINE TO TQ_CRM;
GRANT CREATE ANY PROCEDURE TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_ANY_RULE,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_ANY_RULE_SET,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT CREATE ANY SEQUENCE TO TQ_CRM;
GRANT CREATE ANY SQL PROFILE TO TQ_CRM;
GRANT CREATE ANY SQL TRANSLATION PROFILE TO TQ_CRM;
GRANT CREATE ANY SYNONYM TO TQ_CRM;
GRANT CREATE ANY TABLE TO TQ_CRM;
GRANT CREATE ANY TRIGGER TO TQ_CRM;
GRANT CREATE ANY TYPE TO TQ_CRM;
GRANT CREATE ANY VIEW TO TQ_CRM;
GRANT CREATE ASSEMBLY TO TQ_CRM;
GRANT CREATE ATTRIBUTE DIMENSION TO TQ_CRM;
GRANT CREATE CLUSTER TO TQ_CRM;
GRANT CREATE CREDENTIAL TO TQ_CRM;
GRANT CREATE CUBE TO TQ_CRM;
GRANT CREATE CUBE BUILD PROCESS TO TQ_CRM;
GRANT CREATE CUBE DIMENSION TO TQ_CRM;
GRANT CREATE DATABASE LINK TO TQ_CRM;
GRANT CREATE DIMENSION TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_EVALUATION_CONTEXT_OBJ,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT CREATE EXTERNAL JOB TO TQ_CRM;
GRANT CREATE HIERARCHY TO TQ_CRM;
GRANT CREATE INDEXTYPE TO TQ_CRM;
GRANT CREATE JOB TO TQ_CRM;
GRANT CREATE LIBRARY TO TQ_CRM;
GRANT CREATE LOCKDOWN PROFILE TO TQ_CRM;
GRANT CREATE MATERIALIZED VIEW TO TQ_CRM;
GRANT CREATE MEASURE FOLDER TO TQ_CRM;
GRANT CREATE MINING MODEL TO TQ_CRM;
GRANT CREATE OPERATOR TO TQ_CRM;
GRANT CREATE PLUGGABLE DATABASE TO TQ_CRM;
GRANT CREATE PROCEDURE TO TQ_CRM;
GRANT CREATE PROFILE TO TQ_CRM;
GRANT CREATE PUBLIC DATABASE LINK TO TQ_CRM;
GRANT CREATE PUBLIC SYNONYM TO TQ_CRM;
GRANT CREATE ROLE TO TQ_CRM;
GRANT CREATE ROLLBACK SEGMENT TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_RULE_OBJ,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.CREATE_RULE_SET_OBJ,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT CREATE SEQUENCE TO TQ_CRM;
GRANT CREATE SESSION TO TQ_CRM;
GRANT CREATE SQL TRANSLATION PROFILE TO TQ_CRM;
GRANT CREATE SYNONYM TO TQ_CRM;
GRANT CREATE TABLE TO TQ_CRM;
GRANT CREATE TABLESPACE TO TQ_CRM;
GRANT CREATE TRIGGER TO TQ_CRM;
GRANT CREATE TYPE TO TQ_CRM;
GRANT CREATE USER TO TQ_CRM;
GRANT CREATE VIEW TO TQ_CRM;
GRANT DEBUG ANY PROCEDURE TO TQ_CRM;
GRANT DEBUG CONNECT SESSION TO TQ_CRM;
GRANT DELETE ANY CUBE DIMENSION TO TQ_CRM;
GRANT DELETE ANY MEASURE FOLDER TO TQ_CRM;
GRANT DELETE ANY TABLE TO TQ_CRM;
BEGIN
SYS.DBMS_AQADM.GRANT_SYSTEM_PRIVILEGE (
  PRIVILEGE    => 'DEQUEUE_ANY',
  GRANTEE      => 'TQ_CRM',
  ADMIN_OPTION => FALSE);
END;
/
GRANT DROP ANY ANALYTIC VIEW TO TQ_CRM;
GRANT DROP ANY ASSEMBLY TO TQ_CRM;
GRANT DROP ANY ATTRIBUTE DIMENSION TO TQ_CRM;
GRANT DROP ANY CLUSTER TO TQ_CRM;
GRANT DROP ANY CONTEXT TO TQ_CRM;
GRANT DROP ANY CUBE TO TQ_CRM;
GRANT DROP ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT DROP ANY CUBE DIMENSION TO TQ_CRM;
GRANT DROP ANY DIMENSION TO TQ_CRM;
GRANT DROP ANY DIRECTORY TO TQ_CRM;
GRANT DROP ANY EDITION TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.DROP_ANY_EVALUATION_CONTEXT,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT DROP ANY HIERARCHY TO TQ_CRM;
GRANT DROP ANY INDEX TO TQ_CRM;
GRANT DROP ANY INDEXTYPE TO TQ_CRM;
GRANT DROP ANY LIBRARY TO TQ_CRM;
GRANT DROP ANY MATERIALIZED VIEW TO TQ_CRM;
GRANT DROP ANY MEASURE FOLDER TO TQ_CRM;
GRANT DROP ANY MINING MODEL TO TQ_CRM;
GRANT DROP ANY OPERATOR TO TQ_CRM;
GRANT DROP ANY OUTLINE TO TQ_CRM;
GRANT DROP ANY PROCEDURE TO TQ_CRM;
GRANT DROP ANY ROLE TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.DROP_ANY_RULE,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.DROP_ANY_RULE_SET,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT DROP ANY SEQUENCE TO TQ_CRM;
GRANT DROP ANY SQL PROFILE TO TQ_CRM;
GRANT DROP ANY SQL TRANSLATION PROFILE TO TQ_CRM;
GRANT DROP ANY SYNONYM TO TQ_CRM;
GRANT DROP ANY TABLE TO TQ_CRM;
GRANT DROP ANY TRIGGER TO TQ_CRM;
GRANT DROP ANY TYPE TO TQ_CRM;
GRANT DROP ANY VIEW TO TQ_CRM;
GRANT DROP LOCKDOWN PROFILE TO TQ_CRM;
GRANT DROP PROFILE TO TQ_CRM;
GRANT DROP PUBLIC DATABASE LINK TO TQ_CRM;
GRANT DROP PUBLIC SYNONYM TO TQ_CRM;
GRANT DROP ROLLBACK SEGMENT TO TQ_CRM;
GRANT DROP TABLESPACE TO TQ_CRM;
GRANT DROP USER TO TQ_CRM;
GRANT EM EXPRESS CONNECT TO TQ_CRM;
BEGIN
SYS.DBMS_AQADM.GRANT_SYSTEM_PRIVILEGE (
  PRIVILEGE    => 'ENQUEUE_ANY',
  GRANTEE      => 'TQ_CRM',
  ADMIN_OPTION => FALSE);
END;
/
GRANT EXECUTE ANY ASSEMBLY TO TQ_CRM;
GRANT EXECUTE ANY CLASS TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.EXECUTE_ANY_EVALUATION_CONTEXT,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT EXECUTE ANY INDEXTYPE TO TQ_CRM;
GRANT EXECUTE ANY LIBRARY TO TQ_CRM;
GRANT EXECUTE ANY OPERATOR TO TQ_CRM;
GRANT EXECUTE ANY PROCEDURE TO TQ_CRM;
GRANT EXECUTE ANY PROGRAM TO TQ_CRM;
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.EXECUTE_ANY_RULE,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
BEGIN
SYS.DBMS_RULE_ADM.GRANT_SYSTEM_PRIVILEGE(
  PRIVILEGE    => SYS.DBMS_RULE_ADM.EXECUTE_ANY_RULE_SET,
  GRANTEE      => 'TQ_CRM',
  GRANT_OPTION => FALSE);
END;
/
GRANT EXECUTE ANY TYPE TO TQ_CRM;
GRANT EXECUTE ASSEMBLY TO TQ_CRM;
GRANT EXEMPT ACCESS POLICY TO TQ_CRM;
GRANT EXEMPT IDENTITY POLICY TO TQ_CRM;
GRANT EXPORT FULL DATABASE TO TQ_CRM;
GRANT FLASHBACK ANY TABLE TO TQ_CRM;
GRANT FLASHBACK ARCHIVE ADMINISTER TO TQ_CRM;
GRANT FORCE ANY TRANSACTION TO TQ_CRM;
GRANT FORCE TRANSACTION TO TQ_CRM;
GRANT GLOBAL QUERY REWRITE TO TQ_CRM;
GRANT GRANT ANY OBJECT PRIVILEGE TO TQ_CRM;
GRANT GRANT ANY PRIVILEGE TO TQ_CRM;
GRANT GRANT ANY ROLE TO TQ_CRM;
GRANT IMPORT FULL DATABASE TO TQ_CRM;
GRANT INSERT ANY CUBE DIMENSION TO TQ_CRM;
GRANT INSERT ANY MEASURE FOLDER TO TQ_CRM;
GRANT INSERT ANY TABLE TO TQ_CRM;
GRANT LOCK ANY TABLE TO TQ_CRM;
GRANT LOGMINING TO TQ_CRM;
GRANT MANAGE ANY FILE GROUP TO TQ_CRM;
BEGIN
SYS.DBMS_AQADM.GRANT_SYSTEM_PRIVILEGE (
  PRIVILEGE    => 'MANAGE_ANY',
  GRANTEE      => 'TQ_CRM',
  ADMIN_OPTION => FALSE);
END;
/
GRANT MANAGE FILE GROUP TO TQ_CRM;
GRANT MANAGE SCHEDULER TO TQ_CRM;
GRANT MANAGE TABLESPACE TO TQ_CRM;
GRANT MERGE ANY VIEW TO TQ_CRM;
GRANT ON COMMIT REFRESH TO TQ_CRM;
GRANT QUERY REWRITE TO TQ_CRM;
GRANT READ ANY FILE GROUP TO TQ_CRM;
GRANT READ ANY TABLE TO TQ_CRM;
GRANT REDEFINE ANY TABLE TO TQ_CRM;
GRANT RESTRICTED SESSION TO TQ_CRM;
GRANT RESUMABLE TO TQ_CRM;
GRANT SELECT ANY CUBE TO TQ_CRM;
GRANT SELECT ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT SELECT ANY CUBE DIMENSION TO TQ_CRM;
GRANT SELECT ANY DICTIONARY TO TQ_CRM;
GRANT SELECT ANY MEASURE FOLDER TO TQ_CRM;
GRANT SELECT ANY MINING MODEL TO TQ_CRM;
GRANT SELECT ANY SEQUENCE TO TQ_CRM;
GRANT SELECT ANY TABLE TO TQ_CRM;
GRANT SELECT ANY TRANSACTION TO TQ_CRM;
GRANT SET CONTAINER TO TQ_CRM;
GRANT UNDER ANY TABLE TO TQ_CRM;
GRANT UNDER ANY TYPE TO TQ_CRM;
GRANT UNDER ANY VIEW TO TQ_CRM;
GRANT UNLIMITED TABLESPACE TO TQ_CRM;
GRANT UPDATE ANY CUBE TO TQ_CRM;
GRANT UPDATE ANY CUBE BUILD PROCESS TO TQ_CRM;
GRANT UPDATE ANY CUBE DIMENSION TO TQ_CRM;
GRANT UPDATE ANY TABLE TO TQ_CRM;
GRANT USE ANY JOB RESOURCE TO TQ_CRM;
GRANT USE ANY SQL TRANSLATION PROFILE TO TQ_CRM;

-- 4 Tablespace Quotas for TQ_CRM 
ALTER USER TQ_CRM QUOTA UNLIMITED ON CRMDATA;
ALTER USER TQ_CRM QUOTA UNLIMITED ON FMSDATA;
ALTER USER TQ_CRM QUOTA UNLIMITED ON GISDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_CRM QUOTA UNLIMITED ON USERS';
  END IF;
END;
/

-- 16 Object Privileges for TQ_CRM 
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_CRM;
GRANT INDEX, REFERENCES, SELECT, UPDATE ON TQ_FMS.FMS_BNK_ACCTS TO TQ_CRM;
GRANT SELECT ON TQ_FMS.FMS_BRANCHES TO TQ_CRM;
GRANT SELECT ON TQ_FMS.FMS_EXPENSE_APPORTIONMENTS TO TQ_CRM;
GRANT EXECUTE ON TQ_FMS.FMS_GEN_PKG TO TQ_CRM;
GRANT REFERENCES, SELECT ON TQ_FMS.FMS_RECEIPTS TO TQ_CRM;
GRANT SELECT ON TQ_GIS.GIN_GIS_TRANSACTIONS TO TQ_CRM;
GRANT ALTER, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE, ON COMMIT REFRESH, QUERY REWRITE, READ, DEBUG, FLASHBACK ON TQ_GIS.GIN_MASTER_TRANSACTIONS TO TQ_CRM;
GRANT SELECT ON TQ_GIS.GIN_PRODUCTS TO TQ_CRM;
GRANT DELETE, INSERT, SELECT, UPDATE, DEBUG ON TQ_GIS.GIN_WEB_PARAMETERS TO TQ_CRM;
GRANT EXECUTE, DEBUG ON TQ_GIS.GIS_UTILITIES TO TQ_CRM;
GRANT ALTER, DELETE, INSERT, REFERENCES, SELECT, UPDATE ON TQ_HRMS.HCO_VACANT_POS_PANEL_MEMBERS TO TQ_CRM WITH GRANT OPTION;
GRANT DELETE, INSERT, SELECT, UPDATE, DEBUG ON TQ_LMS.LMS_CRM_EXISTING_POLICIES_VW TO TQ_CRM;
GRANT EXECUTE ON TQ_LMS.LMS_PROCESS_RECEIPTS TO TQ_CRM;
GRANT EXECUTE ON TQ_LMS.LMS_REPORTS_PKG TO TQ_CRM;
GRANT EXECUTE, DEBUG ON TQ_LMS.LMS_WEB_PKG_GRP TO TQ_CRM WITH GRANT OPTION;

--- DROP USER TQ_DBA CASCADE;

CREATE USER TQ_DBA
  IDENTIFIED BY TQ_DBA
  HTTP DIGEST DISABLE
  DEFAULT TABLESPACE DBADATA
  TEMPORARY TABLESPACE TEMP
  PROFILE DEFAULT
  ACCOUNT UNLOCK;

-- 3 Roles for TQ_DBA 
GRANT CONNECT TO TQ_DBA;
GRANT DBA TO TQ_DBA;
GRANT RESOURCE TO TQ_DBA;
ALTER USER TQ_DBA DEFAULT ROLE ALL;

-- 2 System Privileges for TQ_DBA 
GRANT CREATE SESSION TO TQ_DBA;
GRANT UNLIMITED TABLESPACE TO TQ_DBA;

-- 5 Tablespace Quotas for TQ_DBA 
ALTER USER TQ_DBA QUOTA UNLIMITED ON CRMDATA;
ALTER USER TQ_DBA QUOTA UNLIMITED ON FMSDATA;
ALTER USER TQ_DBA QUOTA UNLIMITED ON GISDATA;
ALTER USER TQ_DBA QUOTA UNLIMITED ON LMSDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_DBA QUOTA UNLIMITED ON USERS';
  END IF;
END;
/

--- DROP USER TQ_FMS CASCADE;

CREATE USER TQ_FMS
  IDENTIFIED BY TQ_FMS
  HTTP DIGEST DISABLE
  DEFAULT TABLESPACE FMSDATA
  TEMPORARY TABLESPACE TEMP
  PROFILE DEFAULT
  ACCOUNT UNLOCK;

-- 4 Roles for TQ_FMS 
GRANT CONNECT TO TQ_FMS;
GRANT DBA TO TQ_FMS;
GRANT RESOURCE TO TQ_FMS;
GRANT SCHEDULER_ADMIN TO TQ_FMS;
ALTER USER TQ_FMS DEFAULT ROLE ALL;

-- 212 System Privileges for TQ_FMS 
GRANT ADMINISTER ANY SQL TUNING SET TO TQ_FMS;
GRANT ADMINISTER DATABASE TRIGGER TO TQ_FMS;
GRANT ADMINISTER SQL MANAGEMENT OBJECT TO TQ_FMS;
GRANT ADMINISTER SQL TUNING SET TO TQ_FMS;
GRANT ADVISOR TO TQ_FMS;
GRANT ALTER ANY ANALYTIC VIEW TO TQ_FMS;
GRANT ALTER ANY ASSEMBLY TO TQ_FMS;
GRANT ALTER ANY ATTRIBUTE DIMENSION TO TQ_FMS;
GRANT ALTER ANY CLUSTER TO TQ_FMS;
GRANT ALTER ANY CUBE TO TQ_FMS;
GRANT ALTER ANY CUBE BUILD PROCESS TO TQ_FMS;
GRANT ALTER ANY CUBE DIMENSION TO TQ_FMS;
GRANT ALTER ANY DIMENSION TO TQ_FMS;
GRANT ALTER ANY EDITION TO TQ_FMS;
GRANT ALTER ANY HIERARCHY TO TQ_FMS;
GRANT ALTER ANY INDEX TO TQ_FMS;
GRANT ALTER ANY INDEXTYPE TO TQ_FMS;
GRANT ALTER ANY LIBRARY TO TQ_FMS;
GRANT ALTER ANY MATERIALIZED VIEW TO TQ_FMS;
GRANT ALTER ANY MEASURE FOLDER TO TQ_FMS;
GRANT ALTER ANY MINING MODEL TO TQ_FMS;
GRANT ALTER ANY OPERATOR TO TQ_FMS;
GRANT ALTER ANY OUTLINE TO TQ_FMS;
GRANT ALTER ANY PROCEDURE TO TQ_FMS;
GRANT ALTER ANY ROLE TO TQ_FMS;
GRANT ALTER ANY SEQUENCE TO TQ_FMS;
GRANT ALTER ANY SQL PROFILE TO TQ_FMS;
GRANT ALTER ANY SQL TRANSLATION PROFILE TO TQ_FMS;
GRANT ALTER ANY TABLE TO TQ_FMS;
GRANT ALTER ANY TRIGGER TO TQ_FMS;
GRANT ALTER ANY TYPE TO TQ_FMS;
GRANT ALTER DATABASE TO TQ_FMS;
GRANT ALTER LOCKDOWN PROFILE TO TQ_FMS;
GRANT ALTER PROFILE TO TQ_FMS;
GRANT ALTER RESOURCE COST TO TQ_FMS;
GRANT ALTER ROLLBACK SEGMENT TO TQ_FMS;
GRANT ALTER SESSION TO TQ_FMS;
GRANT ALTER SYSTEM TO TQ_FMS;
GRANT ALTER TABLESPACE TO TQ_FMS;
GRANT ALTER USER TO TQ_FMS;
GRANT ANALYZE ANY TO TQ_FMS;
GRANT AUDIT ANY TO TQ_FMS;
GRANT AUDIT SYSTEM TO TQ_FMS;
GRANT BACKUP ANY TABLE TO TQ_FMS;
GRANT BECOME USER TO TQ_FMS;
GRANT CHANGE NOTIFICATION TO TQ_FMS;
GRANT COMMENT ANY MINING MODEL TO TQ_FMS;
GRANT COMMENT ANY TABLE TO TQ_FMS;
GRANT CREATE ANALYTIC VIEW TO TQ_FMS;
GRANT CREATE ANY ANALYTIC VIEW TO TQ_FMS;
GRANT CREATE ANY ASSEMBLY TO TQ_FMS;
GRANT CREATE ANY ATTRIBUTE DIMENSION TO TQ_FMS;
GRANT CREATE ANY CLUSTER TO TQ_FMS;
GRANT CREATE ANY CONTEXT TO TQ_FMS;
GRANT CREATE ANY CREDENTIAL TO TQ_FMS;
GRANT CREATE ANY CUBE TO TQ_FMS;
GRANT CREATE ANY CUBE BUILD PROCESS TO TQ_FMS;
GRANT CREATE ANY CUBE DIMENSION TO TQ_FMS;
GRANT CREATE ANY DIMENSION TO TQ_FMS;
GRANT CREATE ANY DIRECTORY TO TQ_FMS;
GRANT CREATE ANY EDITION TO TQ_FMS;
GRANT CREATE ANY HIERARCHY TO TQ_FMS;
GRANT CREATE ANY INDEX TO TQ_FMS;
GRANT CREATE ANY INDEXTYPE TO TQ_FMS;
GRANT CREATE ANY JOB TO TQ_FMS;
GRANT CREATE ANY LIBRARY TO TQ_FMS;
GRANT CREATE ANY MATERIALIZED VIEW TO TQ_FMS;
GRANT CREATE ANY MEASURE FOLDER TO TQ_FMS;
GRANT CREATE ANY MINING MODEL TO TQ_FMS;
GRANT CREATE ANY OPERATOR TO TQ_FMS;
GRANT CREATE ANY OUTLINE TO TQ_FMS;
GRANT CREATE ANY PROCEDURE TO TQ_FMS;
GRANT CREATE ANY SEQUENCE TO TQ_FMS;
GRANT CREATE ANY SQL PROFILE TO TQ_FMS;
GRANT CREATE ANY SQL TRANSLATION PROFILE TO TQ_FMS;
GRANT CREATE ANY SYNONYM TO TQ_FMS;
GRANT CREATE ANY TABLE TO TQ_FMS;
GRANT CREATE ANY TRIGGER TO TQ_FMS;
GRANT CREATE ANY TYPE TO TQ_FMS;
GRANT CREATE ANY VIEW TO TQ_FMS;
GRANT CREATE ASSEMBLY TO TQ_FMS;
GRANT CREATE ATTRIBUTE DIMENSION TO TQ_FMS;
GRANT CREATE CLUSTER TO TQ_FMS;
GRANT CREATE CREDENTIAL TO TQ_FMS;
GRANT CREATE CUBE TO TQ_FMS;
GRANT CREATE CUBE BUILD PROCESS TO TQ_FMS;
GRANT CREATE CUBE DIMENSION TO TQ_FMS;
GRANT CREATE DATABASE LINK TO TQ_FMS;
GRANT CREATE DIMENSION TO TQ_FMS;
GRANT CREATE EXTERNAL JOB TO TQ_FMS;
GRANT CREATE HIERARCHY TO TQ_FMS;
GRANT CREATE INDEXTYPE TO TQ_FMS;
GRANT CREATE JOB TO TQ_FMS;
GRANT CREATE LIBRARY TO TQ_FMS;
GRANT CREATE LOCKDOWN PROFILE TO TQ_FMS;
GRANT CREATE MATERIALIZED VIEW TO TQ_FMS;
GRANT CREATE MEASURE FOLDER TO TQ_FMS;
GRANT CREATE MINING MODEL TO TQ_FMS;
GRANT CREATE OPERATOR TO TQ_FMS;
GRANT CREATE PLUGGABLE DATABASE TO TQ_FMS;
GRANT CREATE PROCEDURE TO TQ_FMS;
GRANT CREATE PROFILE TO TQ_FMS;
GRANT CREATE PUBLIC DATABASE LINK TO TQ_FMS;
GRANT CREATE PUBLIC SYNONYM TO TQ_FMS;
GRANT CREATE ROLE TO TQ_FMS;
GRANT CREATE ROLLBACK SEGMENT TO TQ_FMS;
GRANT CREATE SEQUENCE TO TQ_FMS;
GRANT CREATE SESSION TO TQ_FMS;
GRANT CREATE SQL TRANSLATION PROFILE TO TQ_FMS;
GRANT CREATE SYNONYM TO TQ_FMS;
GRANT CREATE TABLE TO TQ_FMS;
GRANT CREATE TABLESPACE TO TQ_FMS;
GRANT CREATE TRIGGER TO TQ_FMS;
GRANT CREATE TYPE TO TQ_FMS;
GRANT CREATE USER TO TQ_FMS;
GRANT CREATE VIEW TO TQ_FMS;
GRANT DEBUG ANY PROCEDURE TO TQ_FMS;
GRANT DEBUG CONNECT SESSION TO TQ_FMS;
GRANT DELETE ANY CUBE DIMENSION TO TQ_FMS;
GRANT DELETE ANY MEASURE FOLDER TO TQ_FMS;
GRANT DELETE ANY TABLE TO TQ_FMS;
GRANT DROP ANY ANALYTIC VIEW TO TQ_FMS;
GRANT DROP ANY ASSEMBLY TO TQ_FMS;
GRANT DROP ANY ATTRIBUTE DIMENSION TO TQ_FMS;
GRANT DROP ANY CLUSTER TO TQ_FMS;
GRANT DROP ANY CONTEXT TO TQ_FMS;
GRANT DROP ANY CUBE TO TQ_FMS;
GRANT DROP ANY CUBE BUILD PROCESS TO TQ_FMS;
GRANT DROP ANY CUBE DIMENSION TO TQ_FMS;
GRANT DROP ANY DIMENSION TO TQ_FMS;
GRANT DROP ANY DIRECTORY TO TQ_FMS;
GRANT DROP ANY EDITION TO TQ_FMS;
GRANT DROP ANY HIERARCHY TO TQ_FMS;
GRANT DROP ANY INDEX TO TQ_FMS;
GRANT DROP ANY INDEXTYPE TO TQ_FMS;
GRANT DROP ANY LIBRARY TO TQ_FMS;
GRANT DROP ANY MATERIALIZED VIEW TO TQ_FMS;
GRANT DROP ANY MEASURE FOLDER TO TQ_FMS;
GRANT DROP ANY MINING MODEL TO TQ_FMS;
GRANT DROP ANY OPERATOR TO TQ_FMS;
GRANT DROP ANY OUTLINE TO TQ_FMS;
GRANT DROP ANY PROCEDURE TO TQ_FMS;
GRANT DROP ANY ROLE TO TQ_FMS;
GRANT DROP ANY SEQUENCE TO TQ_FMS;
GRANT DROP ANY SQL PROFILE TO TQ_FMS;
GRANT DROP ANY SQL TRANSLATION PROFILE TO TQ_FMS;
GRANT DROP ANY SYNONYM TO TQ_FMS;
GRANT DROP ANY TABLE TO TQ_FMS;
GRANT DROP ANY TRIGGER TO TQ_FMS;
GRANT DROP ANY TYPE TO TQ_FMS;
GRANT DROP ANY VIEW TO TQ_FMS;
GRANT DROP LOCKDOWN PROFILE TO TQ_FMS;
GRANT DROP PROFILE TO TQ_FMS;
GRANT DROP PUBLIC DATABASE LINK TO TQ_FMS;
GRANT DROP PUBLIC SYNONYM TO TQ_FMS;
GRANT DROP ROLLBACK SEGMENT TO TQ_FMS;
GRANT DROP TABLESPACE TO TQ_FMS;
GRANT DROP USER TO TQ_FMS;
GRANT EM EXPRESS CONNECT TO TQ_FMS;
GRANT EXECUTE ANY ASSEMBLY TO TQ_FMS;
GRANT EXECUTE ANY CLASS TO TQ_FMS;
GRANT EXECUTE ANY INDEXTYPE TO TQ_FMS;
GRANT EXECUTE ANY LIBRARY TO TQ_FMS;
GRANT EXECUTE ANY OPERATOR TO TQ_FMS;
GRANT EXECUTE ANY PROCEDURE TO TQ_FMS;
GRANT EXECUTE ANY PROGRAM TO TQ_FMS;
GRANT EXECUTE ANY TYPE TO TQ_FMS;
GRANT EXECUTE ASSEMBLY TO TQ_FMS;
GRANT EXPORT FULL DATABASE TO TQ_FMS;
GRANT FLASHBACK ANY TABLE TO TQ_FMS;
GRANT FLASHBACK ARCHIVE ADMINISTER TO TQ_FMS;
GRANT FORCE ANY TRANSACTION TO TQ_FMS;
GRANT FORCE TRANSACTION TO TQ_FMS;
GRANT GLOBAL QUERY REWRITE TO TQ_FMS;
GRANT GRANT ANY OBJECT PRIVILEGE TO TQ_FMS;
GRANT GRANT ANY PRIVILEGE TO TQ_FMS;
GRANT GRANT ANY ROLE TO TQ_FMS;
GRANT IMPORT FULL DATABASE TO TQ_FMS;
GRANT INSERT ANY CUBE DIMENSION TO TQ_FMS;
GRANT INSERT ANY MEASURE FOLDER TO TQ_FMS;
GRANT INSERT ANY TABLE TO TQ_FMS;
GRANT LOCK ANY TABLE TO TQ_FMS;
GRANT LOGMINING TO TQ_FMS;
GRANT MANAGE SCHEDULER TO TQ_FMS;
GRANT MANAGE TABLESPACE TO TQ_FMS;
GRANT MERGE ANY VIEW TO TQ_FMS;
GRANT ON COMMIT REFRESH TO TQ_FMS;
GRANT QUERY REWRITE TO TQ_FMS;
GRANT READ ANY TABLE TO TQ_FMS;
GRANT REDEFINE ANY TABLE TO TQ_FMS;
GRANT RESTRICTED SESSION TO TQ_FMS;
GRANT RESUMABLE TO TQ_FMS;
GRANT SELECT ANY CUBE TO TQ_FMS;
GRANT SELECT ANY CUBE BUILD PROCESS TO TQ_FMS;
GRANT SELECT ANY CUBE DIMENSION TO TQ_FMS;
GRANT SELECT ANY MEASURE FOLDER TO TQ_FMS;
GRANT SELECT ANY MINING MODEL TO TQ_FMS;
GRANT SELECT ANY SEQUENCE TO TQ_FMS;
GRANT SELECT ANY TABLE TO TQ_FMS;
GRANT SELECT ANY TRANSACTION TO TQ_FMS;
GRANT SET CONTAINER TO TQ_FMS;
GRANT UNDER ANY TABLE TO TQ_FMS;
GRANT UNDER ANY TYPE TO TQ_FMS;
GRANT UNDER ANY VIEW TO TQ_FMS;
GRANT UNLIMITED TABLESPACE TO TQ_FMS;
GRANT UPDATE ANY CUBE TO TQ_FMS;
GRANT UPDATE ANY CUBE BUILD PROCESS TO TQ_FMS;
GRANT UPDATE ANY CUBE DIMENSION TO TQ_FMS;
GRANT UPDATE ANY TABLE TO TQ_FMS;
GRANT USE ANY JOB RESOURCE TO TQ_FMS;
GRANT USE ANY SQL TRANSLATION PROFILE TO TQ_FMS;

-- 4 Tablespace Quotas for TQ_FMS 
ALTER USER TQ_FMS QUOTA UNLIMITED ON CRMDATA;
ALTER USER TQ_FMS QUOTA UNLIMITED ON FMSDATA;
ALTER USER TQ_FMS QUOTA UNLIMITED ON GISDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_FMS QUOTA UNLIMITED ON USERS';
  END IF;
END;
/

-- 28 Object Privileges for TQ_FMS 
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_FMS;
GRANT SELECT ON TQ_CRM.TQC_ACCOUNTS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACCOUNT_CONTACTS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACCOUNT_TYPES TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACC_CONTACTS_PWD_HIST TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACC_EMBASSY_PWD_HIST TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACC_NO TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITIES TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_NOTES TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_PARTICIPANTS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_TASKS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCIES_LOADING TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_ACCOUNTS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_CLIENTS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_DIRECTORS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_PRODUCTS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_REGISTRATION TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_SERVICE_PROVIDERS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_SYSTEMS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENTS_TO_LOAD TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENT_LOGON TO TQ_FMS WITH GRANT OPTION;
GRANT EXECUTE, DEBUG ON TQ_CRM.TQC_INTERFACES_PKG TO TQ_FMS WITH GRANT OPTION;
GRANT DELETE, INDEX, INSERT, REFERENCES, SELECT ON TQ_CRM.TQC_SYS_PROCESS_SUB_AREAS TO TQ_FMS WITH GRANT OPTION;
GRANT ALTER, DELETE, INSERT, SELECT, UPDATE ON TQ_CRM.TQC_SYS_ROLES_PRCS_S_AREA TO TQ_FMS;
GRANT SELECT ON TQ_CRM.TQC_SYS_RPT_PARAMETERS TO TQ_FMS WITH GRANT OPTION;
GRANT SELECT ON TQ_GIS.GIN_GIS_TRANSACTIONS TO TQ_FMS;
GRANT ALTER, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE, ON COMMIT REFRESH, QUERY REWRITE, READ, DEBUG, FLASHBACK ON TQ_GIS.GIN_MASTER_TRANSACTIONS TO TQ_FMS WITH GRANT OPTION;
GRANT DELETE, INSERT, SELECT, UPDATE, DEBUG ON TQ_GIS.GIN_WEB_PARAMETERS TO TQ_FMS;

--- DROP USER TQ_GIS CASCADE;

CREATE USER TQ_GIS
  IDENTIFIED BY TQ_GIS
  HTTP DIGEST DISABLE
  DEFAULT TABLESPACE GISDATA
  TEMPORARY TABLESPACE TEMP
  PROFILE DEFAULT
  ACCOUNT UNLOCK;

-- 3 Roles for TQ_GIS 
GRANT CONNECT TO TQ_GIS;
GRANT DBA TO TQ_GIS;
GRANT RESOURCE TO TQ_GIS;
ALTER USER TQ_GIS DEFAULT ROLE ALL;

-- 212 System Privileges for TQ_GIS 
GRANT ADMINISTER ANY SQL TUNING SET TO TQ_GIS;
GRANT ADMINISTER DATABASE TRIGGER TO TQ_GIS;
GRANT ADMINISTER SQL MANAGEMENT OBJECT TO TQ_GIS;
GRANT ADMINISTER SQL TUNING SET TO TQ_GIS;
GRANT ADVISOR TO TQ_GIS;
GRANT ALTER ANY ANALYTIC VIEW TO TQ_GIS;
GRANT ALTER ANY ASSEMBLY TO TQ_GIS;
GRANT ALTER ANY ATTRIBUTE DIMENSION TO TQ_GIS;
GRANT ALTER ANY CLUSTER TO TQ_GIS;
GRANT ALTER ANY CUBE TO TQ_GIS;
GRANT ALTER ANY CUBE BUILD PROCESS TO TQ_GIS;
GRANT ALTER ANY CUBE DIMENSION TO TQ_GIS;
GRANT ALTER ANY DIMENSION TO TQ_GIS;
GRANT ALTER ANY EDITION TO TQ_GIS;
GRANT ALTER ANY HIERARCHY TO TQ_GIS;
GRANT ALTER ANY INDEX TO TQ_GIS;
GRANT ALTER ANY INDEXTYPE TO TQ_GIS;
GRANT ALTER ANY LIBRARY TO TQ_GIS;
GRANT ALTER ANY MATERIALIZED VIEW TO TQ_GIS;
GRANT ALTER ANY MEASURE FOLDER TO TQ_GIS;
GRANT ALTER ANY MINING MODEL TO TQ_GIS;
GRANT ALTER ANY OPERATOR TO TQ_GIS;
GRANT ALTER ANY OUTLINE TO TQ_GIS;
GRANT ALTER ANY PROCEDURE TO TQ_GIS;
GRANT ALTER ANY ROLE TO TQ_GIS;
GRANT ALTER ANY SEQUENCE TO TQ_GIS;
GRANT ALTER ANY SQL PROFILE TO TQ_GIS;
GRANT ALTER ANY SQL TRANSLATION PROFILE TO TQ_GIS;
GRANT ALTER ANY TABLE TO TQ_GIS;
GRANT ALTER ANY TRIGGER TO TQ_GIS;
GRANT ALTER ANY TYPE TO TQ_GIS;
GRANT ALTER DATABASE TO TQ_GIS;
GRANT ALTER LOCKDOWN PROFILE TO TQ_GIS;
GRANT ALTER PROFILE TO TQ_GIS;
GRANT ALTER RESOURCE COST TO TQ_GIS;
GRANT ALTER ROLLBACK SEGMENT TO TQ_GIS;
GRANT ALTER SESSION TO TQ_GIS;
GRANT ALTER SYSTEM TO TQ_GIS;
GRANT ALTER TABLESPACE TO TQ_GIS;
GRANT ALTER USER TO TQ_GIS;
GRANT ANALYZE ANY TO TQ_GIS;
GRANT AUDIT ANY TO TQ_GIS;
GRANT AUDIT SYSTEM TO TQ_GIS;
GRANT BACKUP ANY TABLE TO TQ_GIS;
GRANT BECOME USER TO TQ_GIS;
GRANT CHANGE NOTIFICATION TO TQ_GIS;
GRANT COMMENT ANY MINING MODEL TO TQ_GIS;
GRANT COMMENT ANY TABLE TO TQ_GIS;
GRANT CREATE ANALYTIC VIEW TO TQ_GIS;
GRANT CREATE ANY ANALYTIC VIEW TO TQ_GIS;
GRANT CREATE ANY ASSEMBLY TO TQ_GIS;
GRANT CREATE ANY ATTRIBUTE DIMENSION TO TQ_GIS;
GRANT CREATE ANY CLUSTER TO TQ_GIS;
GRANT CREATE ANY CONTEXT TO TQ_GIS;
GRANT CREATE ANY CREDENTIAL TO TQ_GIS;
GRANT CREATE ANY CUBE TO TQ_GIS;
GRANT CREATE ANY CUBE BUILD PROCESS TO TQ_GIS;
GRANT CREATE ANY CUBE DIMENSION TO TQ_GIS;
GRANT CREATE ANY DIMENSION TO TQ_GIS;
GRANT CREATE ANY DIRECTORY TO TQ_GIS;
GRANT CREATE ANY EDITION TO TQ_GIS;
GRANT CREATE ANY HIERARCHY TO TQ_GIS;
GRANT CREATE ANY INDEX TO TQ_GIS;
GRANT CREATE ANY INDEXTYPE TO TQ_GIS;
GRANT CREATE ANY JOB TO TQ_GIS;
GRANT CREATE ANY LIBRARY TO TQ_GIS;
GRANT CREATE ANY MATERIALIZED VIEW TO TQ_GIS;
GRANT CREATE ANY MEASURE FOLDER TO TQ_GIS;
GRANT CREATE ANY MINING MODEL TO TQ_GIS;
GRANT CREATE ANY OPERATOR TO TQ_GIS;
GRANT CREATE ANY OUTLINE TO TQ_GIS;
GRANT CREATE ANY PROCEDURE TO TQ_GIS;
GRANT CREATE ANY SEQUENCE TO TQ_GIS;
GRANT CREATE ANY SQL PROFILE TO TQ_GIS;
GRANT CREATE ANY SQL TRANSLATION PROFILE TO TQ_GIS;
GRANT CREATE ANY SYNONYM TO TQ_GIS;
GRANT CREATE ANY TABLE TO TQ_GIS;
GRANT CREATE ANY TRIGGER TO TQ_GIS;
GRANT CREATE ANY TYPE TO TQ_GIS;
GRANT CREATE ANY VIEW TO TQ_GIS;
GRANT CREATE ASSEMBLY TO TQ_GIS;
GRANT CREATE ATTRIBUTE DIMENSION TO TQ_GIS;
GRANT CREATE CLUSTER TO TQ_GIS;
GRANT CREATE CREDENTIAL TO TQ_GIS;
GRANT CREATE CUBE TO TQ_GIS;
GRANT CREATE CUBE BUILD PROCESS TO TQ_GIS;
GRANT CREATE CUBE DIMENSION TO TQ_GIS;
GRANT CREATE DATABASE LINK TO TQ_GIS;
GRANT CREATE DIMENSION TO TQ_GIS;
GRANT CREATE EXTERNAL JOB TO TQ_GIS;
GRANT CREATE HIERARCHY TO TQ_GIS;
GRANT CREATE INDEXTYPE TO TQ_GIS;
GRANT CREATE JOB TO TQ_GIS;
GRANT CREATE LIBRARY TO TQ_GIS;
GRANT CREATE LOCKDOWN PROFILE TO TQ_GIS;
GRANT CREATE MATERIALIZED VIEW TO TQ_GIS;
GRANT CREATE MEASURE FOLDER TO TQ_GIS;
GRANT CREATE MINING MODEL TO TQ_GIS;
GRANT CREATE OPERATOR TO TQ_GIS;
GRANT CREATE PLUGGABLE DATABASE TO TQ_GIS;
GRANT CREATE PROCEDURE TO TQ_GIS;
GRANT CREATE PROFILE TO TQ_GIS;
GRANT CREATE PUBLIC DATABASE LINK TO TQ_GIS;
GRANT CREATE PUBLIC SYNONYM TO TQ_GIS;
GRANT CREATE ROLE TO TQ_GIS;
GRANT CREATE ROLLBACK SEGMENT TO TQ_GIS;
GRANT CREATE SEQUENCE TO TQ_GIS;
GRANT CREATE SESSION TO TQ_GIS;
GRANT CREATE SQL TRANSLATION PROFILE TO TQ_GIS;
GRANT CREATE SYNONYM TO TQ_GIS;
GRANT CREATE TABLE TO TQ_GIS;
GRANT CREATE TABLESPACE TO TQ_GIS;
GRANT CREATE TRIGGER TO TQ_GIS;
GRANT CREATE TYPE TO TQ_GIS;
GRANT CREATE USER TO TQ_GIS;
GRANT CREATE VIEW TO TQ_GIS;
GRANT DEBUG ANY PROCEDURE TO TQ_GIS;
GRANT DEBUG CONNECT SESSION TO TQ_GIS;
GRANT DELETE ANY CUBE DIMENSION TO TQ_GIS;
GRANT DELETE ANY MEASURE FOLDER TO TQ_GIS;
GRANT DELETE ANY TABLE TO TQ_GIS;
GRANT DROP ANY ANALYTIC VIEW TO TQ_GIS;
GRANT DROP ANY ASSEMBLY TO TQ_GIS;
GRANT DROP ANY ATTRIBUTE DIMENSION TO TQ_GIS;
GRANT DROP ANY CLUSTER TO TQ_GIS;
GRANT DROP ANY CONTEXT TO TQ_GIS;
GRANT DROP ANY CUBE TO TQ_GIS;
GRANT DROP ANY CUBE BUILD PROCESS TO TQ_GIS;
GRANT DROP ANY CUBE DIMENSION TO TQ_GIS;
GRANT DROP ANY DIMENSION TO TQ_GIS;
GRANT DROP ANY DIRECTORY TO TQ_GIS;
GRANT DROP ANY EDITION TO TQ_GIS;
GRANT DROP ANY HIERARCHY TO TQ_GIS;
GRANT DROP ANY INDEX TO TQ_GIS;
GRANT DROP ANY INDEXTYPE TO TQ_GIS;
GRANT DROP ANY LIBRARY TO TQ_GIS;
GRANT DROP ANY MATERIALIZED VIEW TO TQ_GIS;
GRANT DROP ANY MEASURE FOLDER TO TQ_GIS;
GRANT DROP ANY MINING MODEL TO TQ_GIS;
GRANT DROP ANY OPERATOR TO TQ_GIS;
GRANT DROP ANY OUTLINE TO TQ_GIS;
GRANT DROP ANY PROCEDURE TO TQ_GIS;
GRANT DROP ANY ROLE TO TQ_GIS;
GRANT DROP ANY SEQUENCE TO TQ_GIS;
GRANT DROP ANY SQL PROFILE TO TQ_GIS;
GRANT DROP ANY SQL TRANSLATION PROFILE TO TQ_GIS;
GRANT DROP ANY SYNONYM TO TQ_GIS;
GRANT DROP ANY TABLE TO TQ_GIS;
GRANT DROP ANY TRIGGER TO TQ_GIS;
GRANT DROP ANY TYPE TO TQ_GIS;
GRANT DROP ANY VIEW TO TQ_GIS;
GRANT DROP LOCKDOWN PROFILE TO TQ_GIS;
GRANT DROP PROFILE TO TQ_GIS;
GRANT DROP PUBLIC DATABASE LINK TO TQ_GIS;
GRANT DROP PUBLIC SYNONYM TO TQ_GIS;
GRANT DROP ROLLBACK SEGMENT TO TQ_GIS;
GRANT DROP TABLESPACE TO TQ_GIS;
GRANT DROP USER TO TQ_GIS;
GRANT EM EXPRESS CONNECT TO TQ_GIS;
GRANT EXECUTE ANY ASSEMBLY TO TQ_GIS;
GRANT EXECUTE ANY CLASS TO TQ_GIS;
GRANT EXECUTE ANY INDEXTYPE TO TQ_GIS;
GRANT EXECUTE ANY LIBRARY TO TQ_GIS;
GRANT EXECUTE ANY OPERATOR TO TQ_GIS;
GRANT EXECUTE ANY PROCEDURE TO TQ_GIS;
GRANT EXECUTE ANY PROGRAM TO TQ_GIS;
GRANT EXECUTE ANY TYPE TO TQ_GIS;
GRANT EXECUTE ASSEMBLY TO TQ_GIS;
GRANT EXPORT FULL DATABASE TO TQ_GIS;
GRANT FLASHBACK ANY TABLE TO TQ_GIS;
GRANT FLASHBACK ARCHIVE ADMINISTER TO TQ_GIS;
GRANT FORCE ANY TRANSACTION TO TQ_GIS;
GRANT FORCE TRANSACTION TO TQ_GIS;
GRANT GLOBAL QUERY REWRITE TO TQ_GIS;
GRANT GRANT ANY OBJECT PRIVILEGE TO TQ_GIS;
GRANT GRANT ANY PRIVILEGE TO TQ_GIS;
GRANT GRANT ANY ROLE TO TQ_GIS;
GRANT IMPORT FULL DATABASE TO TQ_GIS;
GRANT INSERT ANY CUBE DIMENSION TO TQ_GIS;
GRANT INSERT ANY MEASURE FOLDER TO TQ_GIS;
GRANT INSERT ANY TABLE TO TQ_GIS;
GRANT LOCK ANY TABLE TO TQ_GIS;
GRANT LOGMINING TO TQ_GIS;
GRANT MANAGE SCHEDULER TO TQ_GIS;
GRANT MANAGE TABLESPACE TO TQ_GIS;
GRANT MERGE ANY VIEW TO TQ_GIS;
GRANT ON COMMIT REFRESH TO TQ_GIS;
GRANT QUERY REWRITE TO TQ_GIS;
GRANT READ ANY TABLE TO TQ_GIS;
GRANT REDEFINE ANY TABLE TO TQ_GIS;
GRANT RESTRICTED SESSION TO TQ_GIS;
GRANT RESUMABLE TO TQ_GIS;
GRANT SELECT ANY CUBE TO TQ_GIS;
GRANT SELECT ANY CUBE BUILD PROCESS TO TQ_GIS;
GRANT SELECT ANY CUBE DIMENSION TO TQ_GIS;
GRANT SELECT ANY MEASURE FOLDER TO TQ_GIS;
GRANT SELECT ANY MINING MODEL TO TQ_GIS;
GRANT SELECT ANY SEQUENCE TO TQ_GIS;
GRANT SELECT ANY TABLE TO TQ_GIS;
GRANT SELECT ANY TRANSACTION TO TQ_GIS;
GRANT SET CONTAINER TO TQ_GIS;
GRANT UNDER ANY TABLE TO TQ_GIS;
GRANT UNDER ANY TYPE TO TQ_GIS;
GRANT UNDER ANY VIEW TO TQ_GIS;
GRANT UNLIMITED TABLESPACE TO TQ_GIS;
GRANT UPDATE ANY CUBE TO TQ_GIS;
GRANT UPDATE ANY CUBE BUILD PROCESS TO TQ_GIS;
GRANT UPDATE ANY CUBE DIMENSION TO TQ_GIS;
GRANT UPDATE ANY TABLE TO TQ_GIS;
GRANT USE ANY JOB RESOURCE TO TQ_GIS;
GRANT USE ANY SQL TRANSLATION PROFILE TO TQ_GIS;

-- 4 Tablespace Quotas for TQ_GIS 
ALTER USER TQ_GIS QUOTA UNLIMITED ON CRMDATA;
ALTER USER TQ_GIS QUOTA UNLIMITED ON FMSDATA;
ALTER USER TQ_GIS QUOTA UNLIMITED ON GISDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_GIS QUOTA UNLIMITED ON USERS';
  END IF;
END;
/

-- 29 Object Privileges for TQ_GIS 
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_GIS;
GRANT SELECT ON TQ_CRM.TQC_ACCOUNTS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACCOUNT_CONTACTS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACCOUNT_TYPES TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACC_CONTACTS_PWD_HIST TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACC_EMBASSY_PWD_HIST TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACC_NO TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITIES TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_NOTES TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_PARTICIPANTS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_TASKS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCIES_LOADING TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_ACCOUNTS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_CLIENTS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_DIRECTORS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_PRODUCTS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_REGISTRATION TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_SERVICE_PROVIDERS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENCY_SYSTEMS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENTS_TO_LOAD TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_AGENT_LOGON TO TQ_GIS WITH GRANT OPTION;
GRANT ALTER, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE, ON COMMIT REFRESH, QUERY REWRITE, DEBUG, FLASHBACK ON TQ_CRM.TQC_MSG_TEMPLATES TO TQ_GIS;
GRANT EXECUTE, DEBUG ON TQ_CRM.TQC_PARAMETERS_PKG TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_SYS_RPT_PARAMETERS TO TQ_GIS WITH GRANT OPTION;
GRANT SELECT ON TQ_FMS.FMS_BATCHES TO TQ_GIS;
GRANT SELECT ON TQ_FMS.FMS_BATCH_TYPES TO TQ_GIS;
GRANT EXECUTE ON TQ_FMS.FMS_CHEQUES_PKG TO TQ_GIS;
GRANT EXECUTE ON TQ_FMS.FMS_GEN_PKG TO TQ_GIS;
GRANT EXECUTE ON TQ_FMS.FMS_RCTS_PKG TO TQ_GIS;

--- DROP USER TQ_HRMS CASCADE;

CREATE USER TQ_HRMS
  IDENTIFIED BY TQ_HRMS
  HTTP DIGEST DISABLE
  DEFAULT TABLESPACE HRMSDATA
  TEMPORARY TABLESPACE TEMP
  PROFILE DEFAULT
  ACCOUNT UNLOCK;

-- 3 Roles for TQ_HRMS 
GRANT CONNECT TO TQ_HRMS;
GRANT DBA TO TQ_HRMS;
GRANT RESOURCE TO TQ_HRMS;
ALTER USER TQ_HRMS DEFAULT ROLE CONNECT, RESOURCE;

-- 212 System Privileges for TQ_HRMS 
GRANT ADMINISTER ANY SQL TUNING SET TO TQ_HRMS;
GRANT ADMINISTER DATABASE TRIGGER TO TQ_HRMS;
GRANT ADMINISTER SQL MANAGEMENT OBJECT TO TQ_HRMS;
GRANT ADMINISTER SQL TUNING SET TO TQ_HRMS;
GRANT ADVISOR TO TQ_HRMS;
GRANT ALTER ANY ANALYTIC VIEW TO TQ_HRMS;
GRANT ALTER ANY ASSEMBLY TO TQ_HRMS;
GRANT ALTER ANY ATTRIBUTE DIMENSION TO TQ_HRMS;
GRANT ALTER ANY CLUSTER TO TQ_HRMS;
GRANT ALTER ANY CUBE TO TQ_HRMS;
GRANT ALTER ANY CUBE BUILD PROCESS TO TQ_HRMS;
GRANT ALTER ANY CUBE DIMENSION TO TQ_HRMS;
GRANT ALTER ANY DIMENSION TO TQ_HRMS;
GRANT ALTER ANY EDITION TO TQ_HRMS;
GRANT ALTER ANY HIERARCHY TO TQ_HRMS;
GRANT ALTER ANY INDEX TO TQ_HRMS;
GRANT ALTER ANY INDEXTYPE TO TQ_HRMS;
GRANT ALTER ANY LIBRARY TO TQ_HRMS;
GRANT ALTER ANY MATERIALIZED VIEW TO TQ_HRMS;
GRANT ALTER ANY MEASURE FOLDER TO TQ_HRMS;
GRANT ALTER ANY MINING MODEL TO TQ_HRMS;
GRANT ALTER ANY OPERATOR TO TQ_HRMS;
GRANT ALTER ANY OUTLINE TO TQ_HRMS;
GRANT ALTER ANY PROCEDURE TO TQ_HRMS;
GRANT ALTER ANY ROLE TO TQ_HRMS;
GRANT ALTER ANY SEQUENCE TO TQ_HRMS;
GRANT ALTER ANY SQL PROFILE TO TQ_HRMS;
GRANT ALTER ANY SQL TRANSLATION PROFILE TO TQ_HRMS;
GRANT ALTER ANY TABLE TO TQ_HRMS;
GRANT ALTER ANY TRIGGER TO TQ_HRMS;
GRANT ALTER ANY TYPE TO TQ_HRMS;
GRANT ALTER DATABASE TO TQ_HRMS;
GRANT ALTER LOCKDOWN PROFILE TO TQ_HRMS;
GRANT ALTER PROFILE TO TQ_HRMS;
GRANT ALTER RESOURCE COST TO TQ_HRMS;
GRANT ALTER ROLLBACK SEGMENT TO TQ_HRMS;
GRANT ALTER SESSION TO TQ_HRMS;
GRANT ALTER SYSTEM TO TQ_HRMS;
GRANT ALTER TABLESPACE TO TQ_HRMS;
GRANT ALTER USER TO TQ_HRMS;
GRANT ANALYZE ANY TO TQ_HRMS;
GRANT AUDIT ANY TO TQ_HRMS;
GRANT AUDIT SYSTEM TO TQ_HRMS;
GRANT BACKUP ANY TABLE TO TQ_HRMS;
GRANT BECOME USER TO TQ_HRMS;
GRANT CHANGE NOTIFICATION TO TQ_HRMS;
GRANT COMMENT ANY MINING MODEL TO TQ_HRMS;
GRANT COMMENT ANY TABLE TO TQ_HRMS;
GRANT CREATE ANALYTIC VIEW TO TQ_HRMS;
GRANT CREATE ANY ANALYTIC VIEW TO TQ_HRMS;
GRANT CREATE ANY ASSEMBLY TO TQ_HRMS;
GRANT CREATE ANY ATTRIBUTE DIMENSION TO TQ_HRMS;
GRANT CREATE ANY CLUSTER TO TQ_HRMS;
GRANT CREATE ANY CONTEXT TO TQ_HRMS;
GRANT CREATE ANY CREDENTIAL TO TQ_HRMS;
GRANT CREATE ANY CUBE TO TQ_HRMS;
GRANT CREATE ANY CUBE BUILD PROCESS TO TQ_HRMS;
GRANT CREATE ANY CUBE DIMENSION TO TQ_HRMS;
GRANT CREATE ANY DIMENSION TO TQ_HRMS;
GRANT CREATE ANY DIRECTORY TO TQ_HRMS;
GRANT CREATE ANY EDITION TO TQ_HRMS;
GRANT CREATE ANY HIERARCHY TO TQ_HRMS;
GRANT CREATE ANY INDEX TO TQ_HRMS;
GRANT CREATE ANY INDEXTYPE TO TQ_HRMS;
GRANT CREATE ANY JOB TO TQ_HRMS;
GRANT CREATE ANY LIBRARY TO TQ_HRMS;
GRANT CREATE ANY MATERIALIZED VIEW TO TQ_HRMS;
GRANT CREATE ANY MEASURE FOLDER TO TQ_HRMS;
GRANT CREATE ANY MINING MODEL TO TQ_HRMS;
GRANT CREATE ANY OPERATOR TO TQ_HRMS;
GRANT CREATE ANY OUTLINE TO TQ_HRMS;
GRANT CREATE ANY PROCEDURE TO TQ_HRMS;
GRANT CREATE ANY SEQUENCE TO TQ_HRMS;
GRANT CREATE ANY SQL PROFILE TO TQ_HRMS;
GRANT CREATE ANY SQL TRANSLATION PROFILE TO TQ_HRMS;
GRANT CREATE ANY SYNONYM TO TQ_HRMS;
GRANT CREATE ANY TABLE TO TQ_HRMS;
GRANT CREATE ANY TRIGGER TO TQ_HRMS;
GRANT CREATE ANY TYPE TO TQ_HRMS;
GRANT CREATE ANY VIEW TO TQ_HRMS;
GRANT CREATE ASSEMBLY TO TQ_HRMS;
GRANT CREATE ATTRIBUTE DIMENSION TO TQ_HRMS;
GRANT CREATE CLUSTER TO TQ_HRMS;
GRANT CREATE CREDENTIAL TO TQ_HRMS;
GRANT CREATE CUBE TO TQ_HRMS;
GRANT CREATE CUBE BUILD PROCESS TO TQ_HRMS;
GRANT CREATE CUBE DIMENSION TO TQ_HRMS;
GRANT CREATE DATABASE LINK TO TQ_HRMS;
GRANT CREATE DIMENSION TO TQ_HRMS;
GRANT CREATE EXTERNAL JOB TO TQ_HRMS;
GRANT CREATE HIERARCHY TO TQ_HRMS;
GRANT CREATE INDEXTYPE TO TQ_HRMS;
GRANT CREATE JOB TO TQ_HRMS;
GRANT CREATE LIBRARY TO TQ_HRMS;
GRANT CREATE LOCKDOWN PROFILE TO TQ_HRMS;
GRANT CREATE MATERIALIZED VIEW TO TQ_HRMS;
GRANT CREATE MEASURE FOLDER TO TQ_HRMS;
GRANT CREATE MINING MODEL TO TQ_HRMS;
GRANT CREATE OPERATOR TO TQ_HRMS;
GRANT CREATE PLUGGABLE DATABASE TO TQ_HRMS;
GRANT CREATE PROCEDURE TO TQ_HRMS;
GRANT CREATE PROFILE TO TQ_HRMS;
GRANT CREATE PUBLIC DATABASE LINK TO TQ_HRMS;
GRANT CREATE PUBLIC SYNONYM TO TQ_HRMS;
GRANT CREATE ROLE TO TQ_HRMS;
GRANT CREATE ROLLBACK SEGMENT TO TQ_HRMS;
GRANT CREATE SEQUENCE TO TQ_HRMS;
GRANT CREATE SESSION TO TQ_HRMS;
GRANT CREATE SQL TRANSLATION PROFILE TO TQ_HRMS;
GRANT CREATE SYNONYM TO TQ_HRMS;
GRANT CREATE TABLE TO TQ_HRMS;
GRANT CREATE TABLESPACE TO TQ_HRMS;
GRANT CREATE TRIGGER TO TQ_HRMS;
GRANT CREATE TYPE TO TQ_HRMS;
GRANT CREATE USER TO TQ_HRMS;
GRANT CREATE VIEW TO TQ_HRMS;
GRANT DEBUG ANY PROCEDURE TO TQ_HRMS;
GRANT DEBUG CONNECT SESSION TO TQ_HRMS;
GRANT DELETE ANY CUBE DIMENSION TO TQ_HRMS;
GRANT DELETE ANY MEASURE FOLDER TO TQ_HRMS;
GRANT DELETE ANY TABLE TO TQ_HRMS;
GRANT DROP ANY ANALYTIC VIEW TO TQ_HRMS;
GRANT DROP ANY ASSEMBLY TO TQ_HRMS;
GRANT DROP ANY ATTRIBUTE DIMENSION TO TQ_HRMS;
GRANT DROP ANY CLUSTER TO TQ_HRMS;
GRANT DROP ANY CONTEXT TO TQ_HRMS;
GRANT DROP ANY CUBE TO TQ_HRMS;
GRANT DROP ANY CUBE BUILD PROCESS TO TQ_HRMS;
GRANT DROP ANY CUBE DIMENSION TO TQ_HRMS;
GRANT DROP ANY DIMENSION TO TQ_HRMS;
GRANT DROP ANY DIRECTORY TO TQ_HRMS;
GRANT DROP ANY EDITION TO TQ_HRMS;
GRANT DROP ANY HIERARCHY TO TQ_HRMS;
GRANT DROP ANY INDEX TO TQ_HRMS;
GRANT DROP ANY INDEXTYPE TO TQ_HRMS;
GRANT DROP ANY LIBRARY TO TQ_HRMS;
GRANT DROP ANY MATERIALIZED VIEW TO TQ_HRMS;
GRANT DROP ANY MEASURE FOLDER TO TQ_HRMS;
GRANT DROP ANY MINING MODEL TO TQ_HRMS;
GRANT DROP ANY OPERATOR TO TQ_HRMS;
GRANT DROP ANY OUTLINE TO TQ_HRMS;
GRANT DROP ANY PROCEDURE TO TQ_HRMS;
GRANT DROP ANY ROLE TO TQ_HRMS;
GRANT DROP ANY SEQUENCE TO TQ_HRMS;
GRANT DROP ANY SQL PROFILE TO TQ_HRMS;
GRANT DROP ANY SQL TRANSLATION PROFILE TO TQ_HRMS;
GRANT DROP ANY SYNONYM TO TQ_HRMS;
GRANT DROP ANY TABLE TO TQ_HRMS;
GRANT DROP ANY TRIGGER TO TQ_HRMS;
GRANT DROP ANY TYPE TO TQ_HRMS;
GRANT DROP ANY VIEW TO TQ_HRMS;
GRANT DROP LOCKDOWN PROFILE TO TQ_HRMS;
GRANT DROP PROFILE TO TQ_HRMS;
GRANT DROP PUBLIC DATABASE LINK TO TQ_HRMS;
GRANT DROP PUBLIC SYNONYM TO TQ_HRMS;
GRANT DROP ROLLBACK SEGMENT TO TQ_HRMS;
GRANT DROP TABLESPACE TO TQ_HRMS;
GRANT DROP USER TO TQ_HRMS;
GRANT EM EXPRESS CONNECT TO TQ_HRMS;
GRANT EXECUTE ANY ASSEMBLY TO TQ_HRMS;
GRANT EXECUTE ANY CLASS TO TQ_HRMS;
GRANT EXECUTE ANY INDEXTYPE TO TQ_HRMS;
GRANT EXECUTE ANY LIBRARY TO TQ_HRMS;
GRANT EXECUTE ANY OPERATOR TO TQ_HRMS;
GRANT EXECUTE ANY PROCEDURE TO TQ_HRMS;
GRANT EXECUTE ANY PROGRAM TO TQ_HRMS;
GRANT EXECUTE ANY TYPE TO TQ_HRMS;
GRANT EXECUTE ASSEMBLY TO TQ_HRMS;
GRANT EXPORT FULL DATABASE TO TQ_HRMS;
GRANT FLASHBACK ANY TABLE TO TQ_HRMS;
GRANT FLASHBACK ARCHIVE ADMINISTER TO TQ_HRMS;
GRANT FORCE ANY TRANSACTION TO TQ_HRMS;
GRANT FORCE TRANSACTION TO TQ_HRMS;
GRANT GLOBAL QUERY REWRITE TO TQ_HRMS;
GRANT GRANT ANY OBJECT PRIVILEGE TO TQ_HRMS;
GRANT GRANT ANY PRIVILEGE TO TQ_HRMS;
GRANT GRANT ANY ROLE TO TQ_HRMS;
GRANT IMPORT FULL DATABASE TO TQ_HRMS;
GRANT INSERT ANY CUBE DIMENSION TO TQ_HRMS;
GRANT INSERT ANY MEASURE FOLDER TO TQ_HRMS;
GRANT INSERT ANY TABLE TO TQ_HRMS;
GRANT LOCK ANY TABLE TO TQ_HRMS;
GRANT LOGMINING TO TQ_HRMS;
GRANT MANAGE SCHEDULER TO TQ_HRMS;
GRANT MANAGE TABLESPACE TO TQ_HRMS;
GRANT MERGE ANY VIEW TO TQ_HRMS;
GRANT ON COMMIT REFRESH TO TQ_HRMS;
GRANT QUERY REWRITE TO TQ_HRMS;
GRANT READ ANY TABLE TO TQ_HRMS;
GRANT REDEFINE ANY TABLE TO TQ_HRMS;
GRANT RESTRICTED SESSION TO TQ_HRMS;
GRANT RESUMABLE TO TQ_HRMS;
GRANT SELECT ANY CUBE TO TQ_HRMS;
GRANT SELECT ANY CUBE BUILD PROCESS TO TQ_HRMS;
GRANT SELECT ANY CUBE DIMENSION TO TQ_HRMS;
GRANT SELECT ANY MEASURE FOLDER TO TQ_HRMS;
GRANT SELECT ANY MINING MODEL TO TQ_HRMS;
GRANT SELECT ANY SEQUENCE TO TQ_HRMS;
GRANT SELECT ANY TABLE TO TQ_HRMS;
GRANT SELECT ANY TRANSACTION TO TQ_HRMS;
GRANT SET CONTAINER TO TQ_HRMS;
GRANT UNDER ANY TABLE TO TQ_HRMS;
GRANT UNDER ANY TYPE TO TQ_HRMS;
GRANT UNDER ANY VIEW TO TQ_HRMS;
GRANT UNLIMITED TABLESPACE TO TQ_HRMS;
GRANT UPDATE ANY CUBE TO TQ_HRMS;
GRANT UPDATE ANY CUBE BUILD PROCESS TO TQ_HRMS;
GRANT UPDATE ANY CUBE DIMENSION TO TQ_HRMS;
GRANT UPDATE ANY TABLE TO TQ_HRMS;
GRANT USE ANY JOB RESOURCE TO TQ_HRMS;
GRANT USE ANY SQL TRANSLATION PROFILE TO TQ_HRMS;

-- 2 Tablespace Quotas for TQ_HRMS 
ALTER USER TQ_HRMS QUOTA UNLIMITED ON HRMSDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_HRMS QUOTA UNLIMITED ON USERS';
  END IF;
END;
/

-- 6 Object Privileges for TQ_HRMS 
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_HRMS;
GRANT SELECT ON TQ_CRM.TQC_ACCOUNTS TO TQ_HRMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_NOTES TO TQ_HRMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_PARTICIPANTS TO TQ_HRMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACTIVITY_TASKS TO TQ_HRMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_SYS_RPT_PARAMETERS TO TQ_HRMS WITH GRANT OPTION;

--- DROP USER TQ_LMS CASCADE;

CREATE USER TQ_LMS
  IDENTIFIED BY TQ_LMS
  HTTP DIGEST DISABLE
  DEFAULT TABLESPACE LMSDATA
  TEMPORARY TABLESPACE TEMP
  PROFILE DEFAULT
  ACCOUNT UNLOCK;

-- 15 Roles for TQ_LMS 
GRANT ADM_PARALLEL_EXECUTE_TASK TO TQ_LMS WITH ADMIN OPTION;
GRANT CONNECT TO TQ_LMS;
GRANT DBA TO TQ_LMS;
GRANT DBFS_ROLE TO TQ_LMS WITH ADMIN OPTION;
GRANT EXP_FULL_DATABASE TO TQ_LMS;
GRANT HS_ADMIN_EXECUTE_ROLE TO TQ_LMS WITH ADMIN OPTION;
GRANT HS_ADMIN_SELECT_ROLE TO TQ_LMS WITH ADMIN OPTION;
GRANT IMP_FULL_DATABASE TO TQ_LMS;
GRANT JMXSERVER TO TQ_LMS WITH ADMIN OPTION;
GRANT ORDADMIN TO TQ_LMS WITH ADMIN OPTION;
GRANT RESOURCE TO TQ_LMS;
GRANT XDB_SET_INVOKER TO TQ_LMS WITH ADMIN OPTION;
GRANT XDB_WEBSERVICES TO TQ_LMS WITH ADMIN OPTION;
GRANT XDB_WEBSERVICES_OVER_HTTP TO TQ_LMS WITH ADMIN OPTION;
GRANT XDB_WEBSERVICES_WITH_PUBLIC TO TQ_LMS WITH ADMIN OPTION;
ALTER USER TQ_LMS DEFAULT ROLE CONNECT, RESOURCE;

-- 212 System Privileges for TQ_LMS 
GRANT ADMINISTER ANY SQL TUNING SET TO TQ_LMS;
GRANT ADMINISTER DATABASE TRIGGER TO TQ_LMS;
GRANT ADMINISTER SQL MANAGEMENT OBJECT TO TQ_LMS;
GRANT ADMINISTER SQL TUNING SET TO TQ_LMS;
GRANT ADVISOR TO TQ_LMS;
GRANT ALTER ANY ANALYTIC VIEW TO TQ_LMS;
GRANT ALTER ANY ASSEMBLY TO TQ_LMS;
GRANT ALTER ANY ATTRIBUTE DIMENSION TO TQ_LMS;
GRANT ALTER ANY CLUSTER TO TQ_LMS;
GRANT ALTER ANY CUBE TO TQ_LMS;
GRANT ALTER ANY CUBE BUILD PROCESS TO TQ_LMS;
GRANT ALTER ANY CUBE DIMENSION TO TQ_LMS;
GRANT ALTER ANY DIMENSION TO TQ_LMS;
GRANT ALTER ANY EDITION TO TQ_LMS;
GRANT ALTER ANY HIERARCHY TO TQ_LMS;
GRANT ALTER ANY INDEX TO TQ_LMS;
GRANT ALTER ANY INDEXTYPE TO TQ_LMS;
GRANT ALTER ANY LIBRARY TO TQ_LMS;
GRANT ALTER ANY MATERIALIZED VIEW TO TQ_LMS;
GRANT ALTER ANY MEASURE FOLDER TO TQ_LMS;
GRANT ALTER ANY MINING MODEL TO TQ_LMS;
GRANT ALTER ANY OPERATOR TO TQ_LMS;
GRANT ALTER ANY OUTLINE TO TQ_LMS;
GRANT ALTER ANY PROCEDURE TO TQ_LMS;
GRANT ALTER ANY ROLE TO TQ_LMS;
GRANT ALTER ANY SEQUENCE TO TQ_LMS;
GRANT ALTER ANY SQL PROFILE TO TQ_LMS;
GRANT ALTER ANY SQL TRANSLATION PROFILE TO TQ_LMS;
GRANT ALTER ANY TABLE TO TQ_LMS;
GRANT ALTER ANY TRIGGER TO TQ_LMS;
GRANT ALTER ANY TYPE TO TQ_LMS;
GRANT ALTER DATABASE TO TQ_LMS;
GRANT ALTER LOCKDOWN PROFILE TO TQ_LMS;
GRANT ALTER PROFILE TO TQ_LMS;
GRANT ALTER RESOURCE COST TO TQ_LMS;
GRANT ALTER ROLLBACK SEGMENT TO TQ_LMS;
GRANT ALTER SESSION TO TQ_LMS;
GRANT ALTER SYSTEM TO TQ_LMS;
GRANT ALTER TABLESPACE TO TQ_LMS;
GRANT ALTER USER TO TQ_LMS;
GRANT ANALYZE ANY TO TQ_LMS;
GRANT AUDIT ANY TO TQ_LMS;
GRANT AUDIT SYSTEM TO TQ_LMS;
GRANT BACKUP ANY TABLE TO TQ_LMS;
GRANT BECOME USER TO TQ_LMS;
GRANT CHANGE NOTIFICATION TO TQ_LMS;
GRANT COMMENT ANY MINING MODEL TO TQ_LMS;
GRANT COMMENT ANY TABLE TO TQ_LMS;
GRANT CREATE ANALYTIC VIEW TO TQ_LMS;
GRANT CREATE ANY ANALYTIC VIEW TO TQ_LMS;
GRANT CREATE ANY ASSEMBLY TO TQ_LMS;
GRANT CREATE ANY ATTRIBUTE DIMENSION TO TQ_LMS;
GRANT CREATE ANY CLUSTER TO TQ_LMS;
GRANT CREATE ANY CONTEXT TO TQ_LMS;
GRANT CREATE ANY CREDENTIAL TO TQ_LMS;
GRANT CREATE ANY CUBE TO TQ_LMS;
GRANT CREATE ANY CUBE BUILD PROCESS TO TQ_LMS;
GRANT CREATE ANY CUBE DIMENSION TO TQ_LMS;
GRANT CREATE ANY DIMENSION TO TQ_LMS;
GRANT CREATE ANY DIRECTORY TO TQ_LMS;
GRANT CREATE ANY EDITION TO TQ_LMS;
GRANT CREATE ANY HIERARCHY TO TQ_LMS;
GRANT CREATE ANY INDEX TO TQ_LMS;
GRANT CREATE ANY INDEXTYPE TO TQ_LMS;
GRANT CREATE ANY JOB TO TQ_LMS;
GRANT CREATE ANY LIBRARY TO TQ_LMS;
GRANT CREATE ANY MATERIALIZED VIEW TO TQ_LMS;
GRANT CREATE ANY MEASURE FOLDER TO TQ_LMS;
GRANT CREATE ANY MINING MODEL TO TQ_LMS;
GRANT CREATE ANY OPERATOR TO TQ_LMS;
GRANT CREATE ANY OUTLINE TO TQ_LMS;
GRANT CREATE ANY PROCEDURE TO TQ_LMS;
GRANT CREATE ANY SEQUENCE TO TQ_LMS;
GRANT CREATE ANY SQL PROFILE TO TQ_LMS;
GRANT CREATE ANY SQL TRANSLATION PROFILE TO TQ_LMS;
GRANT CREATE ANY SYNONYM TO TQ_LMS;
GRANT CREATE ANY TABLE TO TQ_LMS;
GRANT CREATE ANY TRIGGER TO TQ_LMS;
GRANT CREATE ANY TYPE TO TQ_LMS;
GRANT CREATE ANY VIEW TO TQ_LMS;
GRANT CREATE ASSEMBLY TO TQ_LMS;
GRANT CREATE ATTRIBUTE DIMENSION TO TQ_LMS;
GRANT CREATE CLUSTER TO TQ_LMS;
GRANT CREATE CREDENTIAL TO TQ_LMS;
GRANT CREATE CUBE TO TQ_LMS;
GRANT CREATE CUBE BUILD PROCESS TO TQ_LMS;
GRANT CREATE CUBE DIMENSION TO TQ_LMS;
GRANT CREATE DATABASE LINK TO TQ_LMS;
GRANT CREATE DIMENSION TO TQ_LMS;
GRANT CREATE EXTERNAL JOB TO TQ_LMS;
GRANT CREATE HIERARCHY TO TQ_LMS;
GRANT CREATE INDEXTYPE TO TQ_LMS;
GRANT CREATE JOB TO TQ_LMS;
GRANT CREATE LIBRARY TO TQ_LMS;
GRANT CREATE LOCKDOWN PROFILE TO TQ_LMS;
GRANT CREATE MATERIALIZED VIEW TO TQ_LMS;
GRANT CREATE MEASURE FOLDER TO TQ_LMS;
GRANT CREATE MINING MODEL TO TQ_LMS;
GRANT CREATE OPERATOR TO TQ_LMS;
GRANT CREATE PLUGGABLE DATABASE TO TQ_LMS;
GRANT CREATE PROCEDURE TO TQ_LMS;
GRANT CREATE PROFILE TO TQ_LMS;
GRANT CREATE PUBLIC DATABASE LINK TO TQ_LMS;
GRANT CREATE PUBLIC SYNONYM TO TQ_LMS;
GRANT CREATE ROLE TO TQ_LMS;
GRANT CREATE ROLLBACK SEGMENT TO TQ_LMS;
GRANT CREATE SEQUENCE TO TQ_LMS;
GRANT CREATE SESSION TO TQ_LMS;
GRANT CREATE SQL TRANSLATION PROFILE TO TQ_LMS;
GRANT CREATE SYNONYM TO TQ_LMS;
GRANT CREATE TABLE TO TQ_LMS;
GRANT CREATE TABLESPACE TO TQ_LMS;
GRANT CREATE TRIGGER TO TQ_LMS;
GRANT CREATE TYPE TO TQ_LMS;
GRANT CREATE USER TO TQ_LMS;
GRANT CREATE VIEW TO TQ_LMS;
GRANT DEBUG ANY PROCEDURE TO TQ_LMS;
GRANT DEBUG CONNECT SESSION TO TQ_LMS;
GRANT DELETE ANY CUBE DIMENSION TO TQ_LMS;
GRANT DELETE ANY MEASURE FOLDER TO TQ_LMS;
GRANT DELETE ANY TABLE TO TQ_LMS;
GRANT DROP ANY ANALYTIC VIEW TO TQ_LMS;
GRANT DROP ANY ASSEMBLY TO TQ_LMS;
GRANT DROP ANY ATTRIBUTE DIMENSION TO TQ_LMS;
GRANT DROP ANY CLUSTER TO TQ_LMS;
GRANT DROP ANY CONTEXT TO TQ_LMS;
GRANT DROP ANY CUBE TO TQ_LMS;
GRANT DROP ANY CUBE BUILD PROCESS TO TQ_LMS;
GRANT DROP ANY CUBE DIMENSION TO TQ_LMS;
GRANT DROP ANY DIMENSION TO TQ_LMS;
GRANT DROP ANY DIRECTORY TO TQ_LMS;
GRANT DROP ANY EDITION TO TQ_LMS;
GRANT DROP ANY HIERARCHY TO TQ_LMS;
GRANT DROP ANY INDEX TO TQ_LMS;
GRANT DROP ANY INDEXTYPE TO TQ_LMS;
GRANT DROP ANY LIBRARY TO TQ_LMS;
GRANT DROP ANY MATERIALIZED VIEW TO TQ_LMS;
GRANT DROP ANY MEASURE FOLDER TO TQ_LMS;
GRANT DROP ANY MINING MODEL TO TQ_LMS;
GRANT DROP ANY OPERATOR TO TQ_LMS;
GRANT DROP ANY OUTLINE TO TQ_LMS;
GRANT DROP ANY PROCEDURE TO TQ_LMS;
GRANT DROP ANY ROLE TO TQ_LMS;
GRANT DROP ANY SEQUENCE TO TQ_LMS;
GRANT DROP ANY SQL PROFILE TO TQ_LMS;
GRANT DROP ANY SQL TRANSLATION PROFILE TO TQ_LMS;
GRANT DROP ANY SYNONYM TO TQ_LMS;
GRANT DROP ANY TABLE TO TQ_LMS;
GRANT DROP ANY TRIGGER TO TQ_LMS;
GRANT DROP ANY TYPE TO TQ_LMS;
GRANT DROP ANY VIEW TO TQ_LMS;
GRANT DROP LOCKDOWN PROFILE TO TQ_LMS;
GRANT DROP PROFILE TO TQ_LMS;
GRANT DROP PUBLIC DATABASE LINK TO TQ_LMS;
GRANT DROP PUBLIC SYNONYM TO TQ_LMS;
GRANT DROP ROLLBACK SEGMENT TO TQ_LMS;
GRANT DROP TABLESPACE TO TQ_LMS;
GRANT DROP USER TO TQ_LMS;
GRANT EM EXPRESS CONNECT TO TQ_LMS;
GRANT EXECUTE ANY ASSEMBLY TO TQ_LMS;
GRANT EXECUTE ANY CLASS TO TQ_LMS;
GRANT EXECUTE ANY INDEXTYPE TO TQ_LMS;
GRANT EXECUTE ANY LIBRARY TO TQ_LMS;
GRANT EXECUTE ANY OPERATOR TO TQ_LMS;
GRANT EXECUTE ANY PROCEDURE TO TQ_LMS;
GRANT EXECUTE ANY PROGRAM TO TQ_LMS;
GRANT EXECUTE ANY TYPE TO TQ_LMS;
GRANT EXECUTE ASSEMBLY TO TQ_LMS;
GRANT EXPORT FULL DATABASE TO TQ_LMS;
GRANT FLASHBACK ANY TABLE TO TQ_LMS;
GRANT FLASHBACK ARCHIVE ADMINISTER TO TQ_LMS;
GRANT FORCE ANY TRANSACTION TO TQ_LMS;
GRANT FORCE TRANSACTION TO TQ_LMS;
GRANT GLOBAL QUERY REWRITE TO TQ_LMS;
GRANT GRANT ANY OBJECT PRIVILEGE TO TQ_LMS;
GRANT GRANT ANY PRIVILEGE TO TQ_LMS;
GRANT GRANT ANY ROLE TO TQ_LMS;
GRANT IMPORT FULL DATABASE TO TQ_LMS;
GRANT INSERT ANY CUBE DIMENSION TO TQ_LMS;
GRANT INSERT ANY MEASURE FOLDER TO TQ_LMS;
GRANT INSERT ANY TABLE TO TQ_LMS;
GRANT LOCK ANY TABLE TO TQ_LMS;
GRANT LOGMINING TO TQ_LMS;
GRANT MANAGE SCHEDULER TO TQ_LMS;
GRANT MANAGE TABLESPACE TO TQ_LMS;
GRANT MERGE ANY VIEW TO TQ_LMS;
GRANT ON COMMIT REFRESH TO TQ_LMS;
GRANT QUERY REWRITE TO TQ_LMS;
GRANT READ ANY TABLE TO TQ_LMS;
GRANT REDEFINE ANY TABLE TO TQ_LMS;
GRANT RESTRICTED SESSION TO TQ_LMS;
GRANT RESUMABLE TO TQ_LMS;
GRANT SELECT ANY CUBE TO TQ_LMS;
GRANT SELECT ANY CUBE BUILD PROCESS TO TQ_LMS;
GRANT SELECT ANY CUBE DIMENSION TO TQ_LMS;
GRANT SELECT ANY MEASURE FOLDER TO TQ_LMS;
GRANT SELECT ANY MINING MODEL TO TQ_LMS;
GRANT SELECT ANY SEQUENCE TO TQ_LMS;
GRANT SELECT ANY TABLE TO TQ_LMS;
GRANT SELECT ANY TRANSACTION TO TQ_LMS;
GRANT SET CONTAINER TO TQ_LMS;
GRANT UNDER ANY TABLE TO TQ_LMS;
GRANT UNDER ANY TYPE TO TQ_LMS;
GRANT UNDER ANY VIEW TO TQ_LMS;
GRANT UNLIMITED TABLESPACE TO TQ_LMS;
GRANT UPDATE ANY CUBE TO TQ_LMS;
GRANT UPDATE ANY CUBE BUILD PROCESS TO TQ_LMS;
GRANT UPDATE ANY CUBE DIMENSION TO TQ_LMS;
GRANT UPDATE ANY TABLE TO TQ_LMS;
GRANT USE ANY JOB RESOURCE TO TQ_LMS;
GRANT USE ANY SQL TRANSLATION PROFILE TO TQ_LMS;

-- 2 Tablespace Quotas for TQ_LMS 
ALTER USER TQ_LMS QUOTA UNLIMITED ON LMSDATA;
DECLARE
  l_users_ts_exists NUMBER;
BEGIN
  SELECT COUNT(*) INTO l_users_ts_exists FROM dba_tablespaces WHERE tablespace_name = 'USERS';
  IF l_users_ts_exists > 0 THEN
    EXECUTE IMMEDIATE 'ALTER USER TQ_LMS QUOTA UNLIMITED ON USERS';
  END IF;
END;
/

-- 10 Object Privileges for TQ_LMS 
GRANT READ, WRITE ON DIRECTORY DUMP_DIR TO TQ_LMS;
GRANT EXECUTE, DEBUG ON TQ_CRM.PKG_GLOBAL_VARS TO TQ_LMS WITH GRANT OPTION;
GRANT SELECT ON TQ_CRM.TQC_ACCOUNTS TO TQ_LMS WITH GRANT OPTION;
GRANT SELECT, UPDATE ON TQ_CRM.TQC_ACCOUNT_TYPES TO TQ_LMS;
GRANT SELECT, UPDATE ON TQ_CRM.TQC_BRANCHES TO TQ_LMS;
GRANT SELECT, UPDATE ON TQ_CRM.TQC_BRANCH_AGENCIES TO TQ_LMS;
GRANT SELECT, UPDATE ON TQ_CRM.TQC_BRANCH_UNITS TO TQ_LMS;
GRANT SELECT, UPDATE ON TQ_CRM.TQC_REGIONS TO TQ_LMS;
GRANT SELECT ON TQ_CRM.TQC_SYS_RPT_PARAMETERS TO TQ_LMS WITH GRANT OPTION;
GRANT ALTER, INSERT, REFERENCES, SELECT, UPDATE ON TQ_FMS.FMS_RCT_ALLOC_DTLS_AUDT TO TQ_LMS;

--- DROP USER TQ_MED CASCADE;

CREATE USER TQ_MED
  IDENTIFIED BY TQ_MED
  HTTP DIGEST DISABLE
  DEFAULT TABLESPACE MEDDATA
  TEMPORARY TABLESPACE TEMP
  PROFILE DEFAULT
  ACCOUNT UNLOCK;

-- 1 Role for TQ_MED 
GRANT CONNECT TO TQ_MED;
ALTER USER TQ_MED DEFAULT ROLE ALL;

-- 1 System Privilege for TQ_MED 
GRANT CREATE SESSION TO TQ_MED;
