# GitLab runtime configuration overrides
GITLAB_VERSION=19.3.1-ce.0
GITLAB_RUNNER_VERSION=19.3.1-1

# Offline artifact paths (both required if installing offline)
GITLAB_RUNNER_PACKAGE_PATH=
GITLAB_RUNNER_HELPER_IMAGES_PACKAGE_PATH=
GITLAB_RUNNER_PACKAGE_CHECKSUM=
GITLAB_RUNNER_HELPER_IMAGES_PACKAGE_CHECKSUM=

# Application settings
GITLAB_TIME_ZONE=Africa/Nairobi
GITLAB_SIGNUP_ENABLED=false
