{% set _service_type = service_type | default('forking') %}
{% set _service_restart = service_restart | default('no') %}
{% set _service_remain_after_exit = service_remain_after_exit | default(_service_type == 'forking') %}
{% set _service_after = service_after | default('') %}
{% set _service_wants = service_wants | default('') %}
# templates/wls_service.service.j2
[Unit]
Description={{ service_description }}
After=syslog.target network.target{{ ' ' + _service_after if _service_after else '' }}
{% if _service_wants %}
Wants={{ _service_wants }}
{% endif %}

[Service]
Type={{ _service_type }}
User={{ weblogic_user }}
Group={{ weblogic_group }}
WorkingDirectory={{ service_working_dir | default((wlst_domain_home | default(domain_home)) + '/bin') }}
Environment="JAVA_HOME={{ java_home }}"
Environment="MW_HOME={{ oracle_middleware_home }}"
Environment="DOMAIN_HOME={{ wlst_domain_home | default(domain_home) }}"
Environment="LD_LIBRARY_PATH={{ oracle_middleware_home }}/oracle_common/adr:{{ oracle_middleware_home }}/lib"
Environment="PATH={{ oracle_middleware_home }}/oracle_common/adr:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
LimitMEMLOCK={{ service_limit_memlock | default('infinity') }}
LimitNOFILE={{ service_limit_nofile | default(65535) }}
RemainAfterExit={{ _service_remain_after_exit | ternary('yes', 'no') }}
ExecStart=/bin/bash -c "{{ service_exec_start | default(scripts_dir + '/' + start_script_name) }}"
ExecStop=/bin/bash -c "{{ service_exec_stop | default(scripts_dir + '/' + stop_script_name) }}"
Restart={{ _service_restart }}
{% if _service_restart != 'no' %}
RestartSec={{ service_restart_sec | default(10) }}
{% endif %}
KillMode={{ service_kill_mode | default('process') }}

[Install]
WantedBy=multi-user.target
