# Deploy Remote Console for {{ wlst_domain_name }}
admin_url = 't3://localhost:{{ item.admin_port }}'
admin_user = '{{ item.weblogic_admin_user | default(weblogic_admin_user) }}'
admin_password = '{{ weblogic_password }}'
app_name = 'weblogic-remote-console-app'
war_path = '{{ oracle_middleware_home }}/wlserver/server/lib/wls-remote-console.war'
plan_path = '{{ item.domain_home | default(domain_base + "/" + item.domain_name) }}/plan/plan.xml'

connect(admin_user, admin_password, admin_url)

try:
    deploy(app_name, war_path, planPath=plan_path, remote='true')
except Exception, e:
    message = str(e)
    if message.find('already exists') != -1 or message.find('already deployed') != -1:
        redeploy(app_name, planPath=plan_path)
    else:
        raise

disconnect()
exit()
