REMOVE=no
UPGRADE=no
HOSTNAME={{ zimbra_hostname }}
SERVICEIP={{ zimbra_service_ip }}
LDAPHOST={{ zimbra_hostname }}
LDAPPORT=389
SMTPHOST={{ zimbra_hostname }}
SNMPTRAPHOST={{ zimbra_hostname }}
SMTPSOURCE={{ zimbra_smtp_source_email }}
SMTPDEST={{ zimbra_smtp_dest_email }}
SNMPNOTIFY={{ zimbra_snmp_notify }}
SMTPNOTIFY={{ zimbra_smtp_notify }}
STARTSERVERS={{ ((zimbra_start_servers | string | lower) in ['yes', 'true', '1']) | ternary('yes', 'no') }}
LDAPROOTPW={{ zimbra_ldap_root_password }}
LDAPZIMBRAPW={{ zimbra_ldap_zimbra_password }}
LDAPPOSTPW={{ zimbra_ldap_postfix_password }}
LDAPREPPW={{ zimbra_ldap_replication_password }}
LDAPAMAVISPW={{ zimbra_ldap_amavis_password }}
LDAPNGINXPW={{ zimbra_ldap_nginx_password }}
CREATEDOMAIN={{ zimbra_mail_domain }}
CREATEADMIN={{ zimbra_admin_email }}
CREATEADMINPASS={{ zimbra_admin_password }}
MODE={{ zimbra_service_mode }}
ALLOWSELFSIGNED={{ ((zimbra_allow_self_signed | string | lower) in ['yes', 'true', '1']) | ternary('yes', 'no') }}
RUNAV={{ ((zimbra_enable_av | string | lower) in ['yes', 'true', '1']) | ternary('yes', 'no') }}
RUNSA={{ ((zimbra_enable_sa | string | lower) in ['yes', 'true', '1']) | ternary('yes', 'no') }}
AVUSER={{ zimbra_av_notify_email }}
AVDOMAIN={{ zimbra_mail_domain }}
INSTALL_PACKAGES="{{ zimbra_install_packages | join(' ') }}"
INSTALL_WEBAPPS="{{ zimbra_webapps | join(' ') }}"
USE_ZIMBRA_PACKAGE_SERVER={{ ((zimbra_use_zimbra_package_server | string | lower) in ['yes', 'true', '1']) | ternary('yes', 'no') }}
PACKAGE_SERVER={{ zimbra_package_server }}
