#version=DEVEL
#install ==> Deprecated!!!
keyboard 'us'
rootpw --iscrypted $1$yKGwOfcC$KuwzvuXv50iAI34wZ3ltM.
lang en_US
cdrom
selinux --disable
firewall --disabled
authselect select sssd --force
#auth --useshadow --passalgo=sha512 ==> Deprecated!!!
graphical
firstboot --disable
timezone Africa/Nairobi
#network --bootproto=static --device=ens192 --onboot=yes --gateway=198.51.100.20 --ip=198.51.100.21 --nameserver=198.51.100.19 --netmask=198.51.100.17 ## For VMWare es>
network --bootproto=static --device=enp6s18 --onboot=yes --gateway=198.51.100.18 --ip=198.51.100.22 --nameserver=198.51.100.19 --netmask=198.51.100.17 ## For proxmox
#bootloader --location=partition --partition=/boot/efi --bootloader-type=efi
reboot
clearpart --all --initlabel --disklabel=gpt

# Disk partitioning information for UEFI
part /boot/efi --fstype="efi" --size=200 --fsoptions="umask=0077,shortname=winnt" # EFI System Partition
part /boot --fstype="ext4" --size=2048
part biosboot --size=2 --fstype="biosboot" --ondisk=/dev/sda
part pv.01 --size=0 --grow
volgroup vg_root pv.01
logvol / --fstype="ext4" --size=20480 --name=lv_root --vgname=vg_root
logvol /var --fstype="ext4" --size=5132 --name=lv_var --vgname=vg_root
logvol /u01 --fstype="ext4" --size=10240 --name=lv_u01 --vgname=vg_root
logvol /u02 --fstype="ext4" --size=10240 --name=lv_u02 --vgname=vg_root
logvol /u03 --fstype="ext4" --size=10240 --name=lv_u03 --vgname=vg_root
logvol swap --fstype="swap" --size=4096 --name=lv_swap --vgname=vg_root

%packages
@^graphical-server-environment
@base


root@kickstarthost:~# cat /var/www/html/oracledb_ks.cfg 
#version=DEVEL
#install
keyboard --vckeymap=us --xlayouts='us'
rootpw --iscrypted $1$yKGwOfcC$KuwzvuXv50iAI34wZ3ltM.
lang en_US.UTF-8
cdrom
ignoredisk --only-use=sda
selinux --disable
firewall --disabled
authselect select sssd --force
#auth --useshadow --passalgo=sha512
graphical
firstboot --disable
timezone Africa/Nairobi
#network --bootproto=static --device=ens192 --onboot=yes --gateway=198.51.100.20 --ip=198.51.100.21 --nameserver=198.51.100.19 --netmask=198.51.100.17 ## For VMWare esxi
#network --bootproto=static --device=enp6s18 --onboot=yes --gateway=198.51.100.18 --ip=198.51.100.22 --nameserver=198.51.100.19 --netmask=198.51.100.17 ## For proxmox
network --bootproto=static --device=ens18 --onboot=yes --gateway=198.51.100.18 --ip=198.51.100.22 --nameserver=198.51.100.19 --netmask=198.51.100.17 ## For proxmox
network --hostname=ol8.example.internal
#bootloader --location=partition --partition=/boot/efi --bootloader-type=efi
reboot
clearpart --all --initlabel --disklabel=gpt

# Disk partitioning information for UEFI
part /boot/efi --fstype="efi" --size=200 --fsoptions="umask=0077,shortname=winnt" # EFI System Partition
part /boot --fstype="ext4" --size=2048
part biosboot --size=2 --fstype="biosboot" --ondisk=/dev/sda
part pv.01 --size=0 --grow
volgroup vg_root pv.01
logvol / --fstype="ext4" --size=20480 --name=lv_root --vgname=vg_root
logvol /var --fstype="ext4" --size=5132 --name=lv_var --vgname=vg_root
logvol /u01 --fstype="ext4" --size=10240 --name=lv_u01 --vgname=vg_root
logvol /u02 --fstype="ext4" --size=10240 --name=lv_u02 --vgname=vg_root
logvol /u03 --fstype="ext4" --size=10240 --name=lv_u03 --vgname=vg_root
logvol swap --fstype="swap" --size=4096 --name=lv_swap --vgname=vg_root

%packages
@^graphical-server-environment
@base
# @compat-libraries commented for ol8
@development
# @directory-client commented for ol8
@fonts
@graphical-admin-tools
@input-methods
@internet-browser
@large-systems
# @system-admin-tools commented for ol8
# @x11 commented for ol8
kernel-devel
kernel-headers
gcc
%end

# Usage:
# In the boot menu, choose "Install Oracle Linux 8.4" and press the "Tab" key to edit the boot parameters. Add the following at the end of the line:
# inst.ks=c ip=198.51.100.22 netmask=198.51.100.17 gateway=198.51.100.18 nameserver=198.51.100.19